Match.json
{
  "name": "Match",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "company-research",
        "options": {}
      },
      "id": "5ba6846f-e2bf-4c51-91d8-9f31a5e5fb90",
      "name": "Webhook Trigger3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        2672
      ],
      "webhookId": "company-research-webhook",
      "notes": "POST body: { user_id, application_id (or job_id) }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id;\nconst application_id = body.application_id || null;\nconst job_id = body.job_id || null;\n\nif (!user_id) {\n  throw new Error('Missing required field: user_id');\n}\nif (!application_id && !job_id) {\n  throw new Error('Missing required field: application_id or job_id');\n}\n\nreturn [{\n  json: {\nuser_id: String(user_id),\n    application_id: application_id ? parseInt(application_id) : null,\n    job_id: job_id ? parseInt(job_id) : null\n  }\n}];"
      },
      "id": "bda56098-7e52-4121-ab87-3a7badc47746",
      "name": "Validate Input2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        2672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.id AS application_id,\n  a.job_id AS job_id,\n  a.user_id,\n  j.title AS job_title,\n  j.company_name,\n  j.company_url,\n  j.location AS job_location,\n  j.description AS job_description,\n  j.source_url AS job_source_url,\n  u.email,\n  u.full_name,\n  up.skills,\n  up.experience_years,\n  up.job_titles\nFROM applications a\nJOIN jobs j ON a.job_id = j.id\nJOIN users u ON a.user_id = u.id\nJOIN user_profiles up ON up.user_id = u.id\nWHERE a.id = {{ $json.application_id }}\n  AND a.user_id = '{{ $json.user_id }}'\nLIMIT 1",
        "options": {}
      },
      "id": "7da7e862-cd9d-4806-9ee0-5c19a1cac6b3",
      "name": "Get Application + Job (by app_id)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14928,
        2576
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  NULL AS application_id,\n  j.id AS job_id,\n  '{{ $json.user_id }}' AS user_id,\n  j.title AS job_title,\n  j.company_name,\n  j.company_url,\n  j.location AS job_location,\n  j.description AS job_description,\n  j.source_url AS job_source_url,\n  u.email,\n  u.full_name,\n  up.skills,\n  up.experience_years,\n  up.job_titles\nFROM jobs j\nJOIN users u ON u.id = '{{ $json.user_id }}'\nJOIN user_profiles up ON up.user_id = u.id\nWHERE j.id = {{ $json.job_id }}\nLIMIT 1",
        "options": {}
      },
      "id": "14cb90e6-4249-4170-8512-595bc868fb33",
      "name": "Get Job (by job_id)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14928,
        2768
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-app-id",
              "leftValue": "={{ $json.application_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d50ca80-867a-4cb8-94b6-5461caa6136a",
      "name": "Route by Input Type1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -15152,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pick whichever branch returned data (filter out empty items from append merge)\nconst items = $input.all();\nconst raw = items.find(i => i.json && i.json.company_name)?.json;\n\nif (!raw || !raw.company_name) {\n  throw new Error('Could not find job/application data. Check user_id and application_id/job_id.');\n}\n\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') {\n    try { return JSON.parse(field); }\n    catch (e) { return field.split(',').map(i => i.trim()).filter(Boolean); }\n  }\n  return [];\n}\n\n// Derive company domain from company_url or company_name\nlet companyDomain = '';\nif (raw.company_url) {\n  try {\n    const url = new URL(raw.company_url.startsWith('http') ? raw.company_url : 'https://' + raw.company_url);\n    companyDomain = url.hostname.replace('www.', '');\n  } catch(e) {\n    companyDomain = raw.company_url.replace(/https?:\\/\\//,'').replace('www.','').split('/')[0];\n  }\n}\n\n// Build search query for news\nconst companyNameClean = (raw.company_name || '').replace(/[^a-zA-Z0-9 ]/g, '').trim();\n\nreturn [{\n  json: {\n    application_id: raw.application_id || null,\n    job_id: raw.job_id,\n    user_id: raw.user_id,\n    email: raw.email,\n    full_name: raw.full_name || 'Candidate',\n    job_title: raw.job_title,\n    company_name: raw.company_name,\n    company_url: raw.company_url || '',\n    company_domain: companyDomain,\n    job_location: raw.job_location || 'Remote',\n    job_description: (raw.job_description || '').substring(0, 3000),\n    job_source_url: raw.job_source_url || '',\n    skills: safeJSONParse(raw.skills),\n    experience_years: raw.experience_years || 0,\n    job_titles: safeJSONParse(raw.job_titles),\n    news_query: companyNameClean + ' company news 2025',\n    website_url: raw.company_url && raw.company_url.startsWith('http') ? raw.company_url : (companyDomain ? 'https://' + companyDomain : '')\n  }\n}];"
      },
      "id": "dc0322a1-fac3-48a7-82b1-63e9fd4be23a",
      "name": "Prepare Company Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14704,
        2672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-website",
              "leftValue": "={{ $json.website_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58311bc0-aed6-4b87-b965-722f2442ec16",
      "name": "Has Company Website?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14480,
        2672
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.website_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "id": "540a139b-ab3d-4b5c-b88a-ec91a9de9c99",
      "name": "Scrape Company Website1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -14256,
        2576
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "notes": "Fetches raw HTML from company homepage"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Company Data1').first().json;\nconst html = $input.first().json?.body || $input.first().json?.data || '';\n\n// Strip HTML tags to get readable text\nconst stripHtml = (str) => {\n  if (typeof str !== 'string') return '';\n  return str\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim()\n    .substring(0, 4000);\n};\n\nconst websiteText = stripHtml(html) || `No website content available for ${data.company_name}.`;\n\nreturn [{\n  json: {\n    ...data,\n    website_text: websiteText,\n    website_scraped: websiteText.length > 100\n  }\n}];"
      },
      "id": "6755ddfd-a7d3-4a69-8104-c3978ffd722d",
      "name": "Parse Website HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14032,
        2576
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Company Data1').first().json;\n\n// No website available — pass through with empty website text\nreturn [{\n  json: {\n    ...data,\n    website_text: `No public website found for ${data.company_name}. Research will be based on job description and news only.`,\n    website_scraped: false\n  }\n}];"
      },
      "id": "4163bad1-0c59-497b-99aa-4faa9f3c8302",
      "name": "No Website - Pass Through1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14032,
        2768
      ]
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "size",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "3d9694f0-8abf-4322-82f1-7f92243a7d40",
      "name": "Fetch Recent News1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13808,
        2672
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "dSpwNh671VYCb5Vi",
          "name": "ZeroPress"
        },
        "httpHeaderAuth": {
          "id": "J5nu31taPSWd7SLW",
          "name": "NewsData.io - match"
        }
      },
      "continueOnFail": true,
      "notes": "Uses newsdata.io free tier — replace YOUR_NEWSDATA_API_KEY with actual key.\nAlternative: use SerpAPI Google News or Bing News Search API."
    },
    {
      "parameters": {
        "jsCode": "const websiteData = $('Parse Website HTML1').itemMatching(0)?.json \n  || $('No Website - Pass Through1').itemMatching(0)?.json;\n\nconst newsResponse = $input.first().json;\nconst articles = newsResponse?.results || [];\n\nconst newsSummary = articles.slice(0, 5).map(a => {\n  return `- \"${(a.title || '').substring(0, 120)}\" (${a.source_id || 'unknown'}, ${a.pubDate ? a.pubDate.substring(0,10) : 'recent'})`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    ...websiteData,\n    news_articles: articles.slice(0, 5),\n    news_summary: newsSummary || `No recent news found for ${websiteData?.company_name}.`,\n    news_count: articles.length\n  }\n}];"
      },
      "id": "d45350d1-d896-40e7-94ed-173aa6cef008",
      "name": "Parse News Articles1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        2672
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst skills = Array.isArray(d.skills) ? d.skills.join(', ') : 'Not specified';\nconst jobTitles = Array.isArray(d.job_titles) ? d.job_titles.join(', ') : 'Not specified';\n\nconst prompt = `You are a senior career coach and research analyst. A candidate is preparing for a job application and interview at the company below. Using the information provided, produce a comprehensive company research brief and personalised interview preparation.\n\n## Candidate Background\n- Name: ${d.full_name}\n- Target Role: ${d.job_title}\n- Skills: ${skills}\n- Previous Job Titles: ${jobTitles}\n- Experience: ${d.experience_years || 0} years\n\n## Company Information\n- Company Name: ${d.company_name}\n- Location: ${d.job_location}\n- Website: ${d.company_url || 'Not available'}\n\n## Website Content (scraped)\n${d.website_text}\n\n## Job Description\n${d.job_description}\n\n## Recent News Headlines\n${d.news_summary}\n\n---\n\nReturn ONLY a valid JSON object with no markdown, no backticks, no extra text:\n{\n  \"company_overview\": \"<3–4 sentence factual summary of what the company does, its size/stage, and market position>\",\n  \"mission_and_values\": \"<2–3 sentences on the company's stated mission, values, or culture>\",\n  \"recent_developments\": [\n    \"<Key development or news item 1 relevant to candidate>\",\n    \"<Key development or news item 2>\",\n    \"<Key development or news item 3 or 'No notable recent news found'>\"\n  ],\n  \"why_they_are_hiring\": \"<1–2 sentences speculating on the business need driving this hire based on role and news>\",\n  \"talking_points\": [\n    {\n      \"topic\": \"<Short topic label>\",\n      \"point\": \"<What the candidate should say or reference>\",\n      \"source\": \"<website | news | job_description>\"\n    },\n    {\n      \"topic\": \"<Short topic label>\",\n      \"point\": \"<Talking point 2>\",\n      \"source\": \"<website | news | job_description>\"\n    },\n    {\n      \"topic\": \"<Short topic label>\",\n      \"point\": \"<Talking point 3>\",\n      \"source\": \"<website | news | job_description>\"\n    },\n    {\n      \"topic\": \"<Short topic label>\",\n      \"point\": \"<Talking point 4>\",\n      \"source\": \"<website | news | job_description>\"\n    },\n    {\n      \"topic\": \"<Short topic label>\",\n      \"point\": \"<Talking point 5>\",\n      \"source\": \"<website | news | job_description>\"\n    }\n  ],\n  \"questions_to_ask\": [\n    \"<Smart question the candidate can ask the interviewer>\",\n    \"<Smart question 2>\",\n    \"<Smart question 3>\"\n  ],\n  \"red_flags\": [\n    \"<Any concern or ambiguity in the job description or company info, or 'None identified'>\"\n  ],\n  \"confidence_score\": <integer 1–100 reflecting how much usable company data was found>,\n  \"research_notes\": \"<Brief note on data quality and what the candidate should independently verify>\"\n}`;\n\nreturn [{\n  json: {\n    ...d,\n    requestBody: {\n      contents: [{ parts: [{ text: prompt }] }],\n      generationConfig: {\n        temperature: 0.3,\n        maxOutputTokens: 2000\n      }\n    }\n  }\n}];"
      },
      "id": "25633340-41a1-456a-abcc-6bc1e5f49ed4",
      "name": "Build Gemini Prompt2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13360,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawResponse = $input.first().json;\nconst context = $('Build Gemini Prompt2').first().json;\n\n// Extract text from Gemini response\nlet aiText = '';\ntry {\n  aiText = rawResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch(e) {\n  aiText = '';\n}\n\n// Strip markdown code blocks if present\nconst cleanJson = aiText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch(e) {\n  // Fallback: return partial structure so workflow continues\n  parsed = {\n    company_overview: `Research brief for ${context.company_name} could not be fully generated. Please review the job description manually.`,\n    mission_and_values: 'Not available',\n    recent_developments: ['AI parsing failed — check raw response'],\n    why_they_are_hiring: 'Based on the job description, they are expanding their team.',\n    talking_points: [\n      { topic: 'Role Fit', point: 'Review the job description and align your experience with the listed requirements.', source: 'job_description' }\n    ],\n    questions_to_ask: [\n      'What does success look like in the first 90 days?',\n      'How would you describe the team culture?',\n      'What are the biggest challenges facing the team right now?'\n    ],\n    red_flags: ['AI parsing failed — manual review recommended'],\n    confidence_score: 10,\n    research_notes: 'Gemini response could not be parsed as JSON. Raw response stored separately.'\n  };\n}\n\nreturn [{\n  json: {\n    ...context,\n    ...parsed,\n    ai_raw_response: aiText.substring(0, 500)\n  }\n}];"
      },
      "id": "8c29f632-ac90-4625-8f78-a1a05b1fafc0",
      "name": "Parse AI Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12912,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst e = (str) => (str || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst today = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Talking points rows\nconst talkingPoints = Array.isArray(d.talking_points) ? d.talking_points : [];\nconst tpRows = talkingPoints.map(tp => `\n  <tr>\n    <td class=\"tp-topic\">${e(tp.topic || '')}</td>\n    <td class=\"tp-point\">${e(tp.point || '')}</td>\n    <td class=\"tp-source badge-${(tp.source||'').toLowerCase()}\">${e(tp.source || '')}</td>\n  </tr>`).join('');\n\n// Recent developments\nconst devs = Array.isArray(d.recent_developments) ? d.recent_developments : [];\nconst devsHtml = devs.map(dev => `<li>${e(dev)}</li>`).join('');\n\n// Questions\nconst questions = Array.isArray(d.questions_to_ask) ? d.questions_to_ask : [];\nconst questionsHtml = questions.map(q => `<li>${e(q)}</li>`).join('');\n\n// Red flags\nconst flags = Array.isArray(d.red_flags) ? d.red_flags : [];\nconst flagsHtml = flags.map(f => `<li>${e(f)}</li>`).join('');\n\n// Confidence indicator\nconst score = d.confidence_score || 50;\nconst scoreColor = score >= 70 ? '#16a34a' : score >= 40 ? '#d97706' : '#dc2626';\nconst scoreLabel = score >= 70 ? 'High' : score >= 40 ? 'Medium' : 'Low';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Company Research - ${e(d.company_name)}</title>\n<style>\n* { margin:0; padding:0; box-sizing:border-box; }\nbody { font-family: Arial, sans-serif; font-size: 10pt; color: #1a1a1a; padding: 32px 40px; max-width: 820px; margin: 0 auto; }\n.header { border-bottom: 3px solid #1e3a5f; padding-bottom: 14px; margin-bottom: 22px; }\n.header h1 { font-size: 20pt; font-weight: 700; color: #1e3a5f; }\n.header .sub { color: #4b5563; font-size: 9.5pt; margin-top: 4px; }\n.meta-bar { display: flex; gap: 24px; background: #eff6ff; padding: 10px 16px; border-radius: 6px; margin-bottom: 22px; font-size: 9pt; color: #1e40af; }\n.meta-bar span strong { color: #1e3a5f; }\n.confidence { margin-left: auto; font-weight: 700; color: ${scoreColor}; }\nsection { margin-bottom: 22px; }\n.stitle { font-size: 9pt; font-weight: 700; color: #1e3a5f; text-transform: uppercase; letter-spacing: 1px; border-bottom: 2px solid #dbeafe; padding-bottom: 4px; margin-bottom: 10px; }\n.card { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 6px; padding: 12px 16px; line-height: 1.65; color: #374151; }\ntable.tp { width: 100%; border-collapse: collapse; }\ntable.tp th { background: #1e3a5f; color: #fff; font-size: 8.5pt; padding: 7px 10px; text-align: left; }\ntable.tp td { padding: 7px 10px; font-size: 9pt; border-bottom: 1px solid #e5e7eb; vertical-align: top; }\ntable.tp tr:nth-child(even) td { background: #f0f9ff; }\n.tp-topic { font-weight: 600; color: #1e3a5f; width: 22%; }\n.tp-point { width: 62%; color: #374151; }\n.tp-source { width: 16%; font-size: 8pt; font-weight: 700; text-transform: uppercase; text-align: center; padding: 4px 8px; border-radius: 10px; }\n.badge-website { background: #dbeafe; color: #1d4ed8; }\n.badge-news { background: #dcfce7; color: #15803d; }\n.badge-job_description { background: #fef9c3; color: #854d0e; }\nul.items { padding-left: 18px; }\nul.items li { margin-bottom: 6px; line-height: 1.55; color: #374151; }\n.flag li { color: #b91c1c; }\n.footer-note { margin-top: 24px; border-top: 1px solid #e5e7eb; padding-top: 10px; font-size: 8pt; color: #9ca3af; text-align: center; }\n</style>\n</head>\n<body>\n<div class=\"header\">\n  <h1>&#128269; Company Research Brief</h1>\n  <div class=\"sub\">Prepared for: <strong>${e(d.full_name)}</strong> &nbsp;&bull;&nbsp; Role: <strong>${e(d.job_title)}</strong> at <strong>${e(d.company_name)}</strong></div>\n</div>\n<div class=\"meta-bar\">\n  <span><strong>Company:</strong> ${e(d.company_name)}</span>\n  <span><strong>Location:</strong> ${e(d.job_location)}</span>\n  <span><strong>Date:</strong> ${today}</span>\n  <span class=\"confidence\">Data Confidence: ${scoreLabel} (${score}/100)</span>\n</div>\n\n<section>\n  <div class=\"stitle\">Company Overview</div>\n  <div class=\"card\">${e(d.company_overview || 'Not available.')}</div>\n</section>\n\n<section>\n  <div class=\"stitle\">Mission &amp; Values</div>\n  <div class=\"card\">${e(d.mission_and_values || 'Not available.')}</div>\n</section>\n\n<section>\n  <div class=\"stitle\">Recent Developments</div>\n  <ul class=\"items\">${devsHtml || '<li>No recent developments found.</li>'}</ul>\n</section>\n\n<section>\n  <div class=\"stitle\">Why They Are Hiring</div>\n  <div class=\"card\">${e(d.why_they_are_hiring || 'Not determined.')}</div>\n</section>\n\n<section>\n  <div class=\"stitle\">Interview Talking Points</div>\n  <table class=\"tp\">\n    <thead>\n      <tr><th>Topic</th><th>What to Say</th><th>Source</th></tr>\n    </thead>\n    <tbody>${tpRows || '<tr><td colspan=\"3\">No talking points generated.</td></tr>'}</tbody>\n  </table>\n</section>\n\n<section>\n  <div class=\"stitle\">Smart Questions to Ask the Interviewer</div>\n  <ul class=\"items\">${questionsHtml || '<li>No questions generated.</li>'}</ul>\n</section>\n\n<section>\n  <div class=\"stitle\">&#9888; Points to Clarify / Red Flags</div>\n  <ul class=\"items flag\">${flagsHtml || '<li>None identified.</li>'}</ul>\n</section>\n\n<section>\n  <div class=\"stitle\">Research Notes</div>\n  <div class=\"card\" style=\"font-style: italic; color: #6b7280;\">${e(d.research_notes || '')}</div>\n</section>\n\n<div class=\"footer-note\">Generated by Match AI &bull; ${today} &bull; Always verify with your own research before interviews.</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...d,\n    research_html: html\n  }\n}];"
      },
      "id": "02a56222-8157-4562-8025-19a95e6cb52a",
      "name": "Render Research HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12688,
        2672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ JSON.stringify($json.research_html) }},\n  \"landscape\": false,\n  \"use_print\": false,\n  \"format\": \"A4\",\n  \"margin\": \"12mm\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "dc859240-a5b1-4be8-bdb3-787383c90e20",
      "name": "HTML to PDF (PDFShift)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -12464,
        2672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AM5cmxS5kUx4WRjN",
          "name": "PDFShift - match"
        }
      },
      "continueOnFail": true,
      "notes": "Uses same PDFShift credential as Resume Tailor workflow"
    },
    {
      "parameters": {
        "jsCode": "const aiData = $('Parse AI Response3').first().json;\nconst now = new Date().toISOString();\n\n// In filesystem binaryDataMode, check for binary key existence only\nconst hasBinary = !!$input.first().binary?.data;\n\nreturn [{\n  json: {\n    ...aiData,\n    pdf_binary: null,\n    pdf_generated: hasBinary,\n    created_at: now,\n    talking_points_json: JSON.stringify(aiData.talking_points || []),\n    recent_developments_json: JSON.stringify(aiData.recent_developments || []),\n    questions_json: JSON.stringify(aiData.questions_to_ask || []),\n    red_flags_json: JSON.stringify(aiData.red_flags || [])\n  }\n}];"
      },
      "id": "720ee1a2-d53c-4df6-a8ed-d4a765336012",
      "name": "Prepare Save Metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12240,
        2672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO company_research (\n  application_id,\n  job_id,\n  user_id,\n  company_name,\n  company_url,\n  company_overview,\n  mission_and_values,\n  recent_developments,\n  why_they_are_hiring,\n  talking_points,\n  questions_to_ask,\n  red_flags,\n  research_notes,\n  confidence_score,\n  html_content,\n  pdf_binary,\n  website_scraped,\n  news_count,\n  created_at\n) VALUES (\n  {{ $json.application_id || 'NULL' }},\n  {{ $json.job_id }},\n  '{{ $json.user_id }}',\n  '{{ $json.company_name.replace(/'/g, \"''\") }}',\n  {{ $json.company_url ? \"'\" + $json.company_url + \"'\" : 'NULL' }},\n  '{{ ($json.company_overview || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.mission_and_values || '').replace(/'/g, \"''\") }}',\n  '{{ $json.recent_developments_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ ($json.why_they_are_hiring || '').replace(/'/g, \"''\") }}',\n  '{{ $json.talking_points_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.questions_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.red_flags_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ ($json.research_notes || '').replace(/'/g, \"''\") }}',\n  {{ $json.confidence_score || 50 }},\n  '{{ ($json.research_html || '').replace(/'/g, \"''\") }}',\n  {{ $json.pdf_binary ? \"decode('\" + $json.pdf_binary + \"', 'base64')\" : 'NULL' }},\n  {{ $json.website_scraped ? 'true' : 'false' }},\n  {{ $json.news_count || 0 }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (job_id, user_id) DO UPDATE SET\n  company_overview = EXCLUDED.company_overview,\n  talking_points = EXCLUDED.talking_points,\n  html_content = EXCLUDED.html_content,\n  pdf_binary = EXCLUDED.pdf_binary,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING id;",
        "options": {}
      },
      "id": "6675d6b3-894c-4f21-988b-634496baec13",
      "name": "Save Research to DB1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12016,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true,
      "notes": "Requires company_research table — see SQL migration below"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (\n  user_id,\n  action,\n  entity_type,\n  entity_id,\n  metadata,\n  created_at\n) VALUES (\n  '{{ $('Prepare Save Metadata1').first().json.user_id }}',\n  'company_research_generated',\n  'job',\n  {{ $('Prepare Save Metadata1').first().json.job_id || null }},\n  '{{ JSON.stringify({ company: $('Prepare Save Metadata1').first().json.company_name, confidence: $('Prepare Save Metadata1').first().json.confidence_score || 50 }) }}'::jsonb,\n  NOW()\n);",
        "options": {}
      },
      "id": "4bed37ac-49c1-4e2b-b1a3-df6229d5ae28",
      "name": "Log Activity1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -11792,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Save Metadata1').first().json.email }}",
        "subject": "=Match: Your Research Brief for {{ $('Prepare Save Metadata1').first().json.company_name }} is Ready",
        "message": "=<html><body style=\"font-family:Arial,sans-serif;color:#1a1a1a;max-width:580px;margin:0 auto;padding:24px\">\n<div style=\"border-bottom:3px solid #1e3a5f;padding-bottom:12px;margin-bottom:20px\">\n  <h2 style=\"color:#1e3a5f;margin:0\">&#128269; Company Research Ready</h2>\n</div>\n<p>Hi {{ $('Prepare Save Metadata1').first().json.full_name }},</p>\n<p style=\"margin-top:12px\">Your research brief for <strong>{{ $('Prepare Save Metadata1').first().json.company_name }}</strong> is ready.</p>\n\n<div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:12px 16px;margin:18px 0;border-radius:0 6px 6px 0\">\n  <strong>Role:</strong> {{ $('Prepare Save Metadata1').first().json.job_title }}<br>\n  <strong>Company:</strong> {{ $('Prepare Save Metadata1').first().json.company_name }}<br>\n  <strong>Data Confidence:</strong> {{ $('Prepare Save Metadata1').first().json.confidence_score || 50 }}/100\n</div>\n\n<h3 style=\"color:#1e3a5f;font-size:11pt\">&#128172; Top Talking Points</h3>\n<p style=\"color:#4b5563;font-size:9.5pt\">Check your Match dashboard for the full brief with all talking points, smart questions to ask, and red flags to watch out for.</p>\n\n<p style=\"margin-top:20px\">Good luck with your application!</p>\n<p style=\"color:#6b7280;font-size:8.5pt;margin-top:24px;border-top:1px solid #e5e7eb;padding-top:12px\">This brief was generated automatically by Match AI. Always verify with your own research before interviews.</p>\n</body></html>",
        "options": {}
      },
      "id": "a9af0df9-f9dd-41dd-ac0b-9c9009952839",
      "name": "Send Research Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -11568,
        2672
      ],
      "webhookId": "2e3d356f-322c-4ccd-80f8-c6bc6125fcc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-create",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "79fcf1c6-02a8-4928-ab99-e4adda2dc12e",
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -15152,
        3184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update_status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f1e8b56-0628-4682-a603-aab95c251766",
      "name": "Is Update Status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14928,
        3280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO applications (\n  user_id, job_id, status, applied_at, last_activity, notes, created_at, updated_at\n) VALUES (\n  {{ $json.user_id }},\n  {{ $json.job_id }},\n  'interested',\n  NOW(),\n  NOW(),\n  {{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NOW(),\n  NOW()\n)\nON CONFLICT (user_id, job_id) DO UPDATE SET\n  last_activity = NOW(),\n  updated_at = NOW()\nRETURNING\n  id AS application_id,\n  user_id,\n  job_id,\n  status,\n  applied_at,\n  last_activity,\n  notes;",
        "options": {}
      },
      "id": "04725efb-4f05-451b-9171-cae88d8a8f2a",
      "name": "Create Application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14704,
        2992
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE applications\nSET\n  status = '{{ $json.status }}',\n  last_activity = NOW(),\n  updated_at = NOW(),\n  applied_at = CASE WHEN '{{ $json.status }}' = 'applied' AND applied_at IS NULL THEN NOW() ELSE applied_at END,\n  notes = COALESCE({{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, notes)\nWHERE id = {{ $json.application_id }}\n  AND user_id = {{ $json.user_id }}\nRETURNING\n  id AS application_id,\n  user_id,\n  job_id,\n  status,\n  applied_at,\n  last_activity,\n  notes;",
        "options": {}
      },
      "id": "cfaa1450-bc45-48b0-a706-7815db6f002a",
      "name": "Update Application Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14704,
        3184
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE applications\nSET\n  status = 'interview',\n  interview_date = '{{ $json.interview_date }}',\n  interview_location = {{ $json.interview_location ? \"'\" + $json.interview_location.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  interview_type = '{{ $json.interview_type || 'video' }}',\n  interviewer_name = {{ $json.interviewer_name ? \"'\" + $json.interviewer_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  interviewer_role = {{ $json.interviewer_role ? \"'\" + $json.interviewer_role.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  last_activity = NOW(),\n  updated_at = NOW()\nWHERE id = {{ $json.application_id }}\n  AND user_id = '{{ $json.user_id }}'\nRETURNING\n  id AS application_id,\n  user_id,\n  job_id,\n  status,\n  interview_date,\n  interview_location,\n  interview_type,\n  interviewer_name,\n  interviewer_role,\n  applied_at,\n  last_activity",
        "options": {}
      },
      "id": "2ff97298-a408-4fd4-b2de-4a60f9d9bd9b",
      "name": "Schedule Interview",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14704,
        3376
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || !result.application_id) {\n  throw new Error('Application action failed — no record returned. Check user_id, application_id, and job_id exist in the database.');\n}\n\nreturn [{ json: result }];"
      },
      "id": "6d9b1509-7e7a-46f6-90ba-537cb135dd28",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        3088
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO application_events (\n  application_id,\n  user_id,\n  action,\n  from_status,\n  to_status,\n  metadata,\n  created_at\n)\nSELECT\n  {{ $json.application_id }},\n  {{ $json.user_id }},\n  CASE\n    WHEN '{{ $json.status || 'interested' }}' IS NOT NULL THEN 'status_change'\n    WHEN {{ $json.interview_date ? 'true' : 'false' }} THEN 'interview_scheduled'\n    ELSE 'created'\n  END,\n  prev.status,\n  '{{ $json.status || 'interview' }}',\n  '{}'::jsonb,\n  NOW()\nFROM (\n  SELECT status FROM applications WHERE id = {{ $json.application_id }}\n) prev\nRETURNING id;",
        "options": {}
      },
      "id": "2b5ffc81-a11c-4ef1-bde4-826f81ba977e",
      "name": "Log Application Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14256,
        3088
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id AS application_id,\n  a.user_id,\n  a.job_id,\n  a.status,\n  a.applied_at,\n  a.interview_date,\n  a.interview_location,\n  a.interview_type,\n  a.interviewer_name,\n  a.interviewer_role,\n  a.last_activity,\n  a.notes,\n  j.title AS job_title,\n  j.company_name,\n  j.company_url,\n  j.location AS job_location,\n  j.source_url,\n  u.email,\n  u.full_name\nFROM applications a\nJOIN jobs j ON a.job_id = j.id\nJOIN users u ON a.user_id = u.id\nWHERE a.id = {{ $('Check Result').first().json.application_id }}\nLIMIT 1;",
        "options": {}
      },
      "id": "328398f9-738a-4479-9526-e1d401e15493",
      "name": "Fetch Full Application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14032,
        3088
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-interview",
              "leftValue": "={{ $json.interview_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e389cd59-30bc-4f49-8570-f63acf91490d",
      "name": "Has Interview Scheduled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13808,
        3088
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Match: Interview Scheduled — {{ $json.job_title }} at {{ $json.company_name }}",
        "message": "=<html><body style=\"font-family:Arial,sans-serif;color:#1a1a1a;max-width:580px;margin:0 auto;padding:24px\">\n<div style=\"border-bottom:3px solid #1e3a5f;padding-bottom:12px;margin-bottom:20px\">\n  <h2 style=\"color:#1e3a5f;margin:0\">&#128197; Interview Confirmed</h2>\n</div>\n<p>Hi {{ $json.full_name }},</p>\n<p style=\"margin-top:12px\">Your interview has been scheduled. Here are the details:</p>\n\n<div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:14px 18px;margin:18px 0;border-radius:0 8px 8px 0\">\n  <table style=\"width:100%;font-size:13px;border-collapse:collapse\">\n    <tr><td style=\"color:#64748b;padding:4px 0;width:40%\">Role</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.job_title }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Company</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Date &amp; Time</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.interview_date }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Format</td><td style=\"color:#374151\">{{ $json.interview_type || 'Video call' }}</td></tr>\n    {{ $json.interview_location ? '<tr><td style=\"color:#64748b;padding:4px 0\">Location / Link</td><td style=\"color:#374151\">' + $json.interview_location + '</td></tr>' : '' }}\n    {{ $json.interviewer_name ? '<tr><td style=\"color:#64748b;padding:4px 0\">Interviewer</td><td style=\"color:#374151\">' + $json.interviewer_name + ($json.interviewer_role ? ' — ' + $json.interviewer_role : '') + '</td></tr>' : '' }}\n  </table>\n</div>\n\n<p style=\"margin-top:16px\">&#128161; <strong>Tip:</strong> Use Match to generate your Company Research brief and Interview Prep document before the interview.</p>\n\n<p style=\"color:#6b7280;font-size:8.5pt;margin-top:28px;border-top:1px solid #e5e7eb;padding-top:12px\">You'll receive a reminder 24 hours before your interview. Good luck!</p>\n</body></html>",
        "options": {}
      },
      "id": "c5b5e239-b792-43d9-b7b7-850ae499e321",
      "name": "Send Interview Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -13584,
        2992
      ],
      "webhookId": "24a3117b-96e1-48d6-8531-75f29af86636",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Match: Status Update — {{ $json.job_title }} at {{ $json.company_name }}",
        "message": "=<html><body style=\"font-family:Arial,sans-serif;color:#1a1a1a;max-width:580px;margin:0 auto;padding:24px\">\n<div style=\"border-bottom:3px solid #1e3a5f;padding-bottom:12px;margin-bottom:20px\">\n  <h2 style=\"color:#1e3a5f;margin:0\">&#128203; Application Updated</h2>\n</div>\n<p>Hi {{ $json.full_name }},</p>\n<p style=\"margin-top:12px\">Your application status has been updated:</p>\n\n<div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:14px 18px;margin:18px 0;border-radius:0 8px 8px 0\">\n  <table style=\"width:100%;font-size:13px;border-collapse:collapse\">\n    <tr><td style=\"color:#64748b;padding:4px 0;width:40%\">Role</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.job_title }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Company</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">New Status</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $json.status.replace(/_/g,' ').replace(/\\b\\w/g, l => l.toUpperCase()) }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Updated</td><td style=\"color:#374151\">{{ new Date().toLocaleDateString('en-US',{year:'numeric',month:'long',day:'numeric'}) }}</td></tr>\n  </table>\n</div>\n\n<p style=\"color:#6b7280;font-size:8.5pt;margin-top:28px;border-top:1px solid #e5e7eb;padding-top:12px\">Tracked automatically by Match. Log in to view your full application pipeline.</p>\n</body></html>",
        "options": {}
      },
      "id": "c7fe50c0-1412-44b4-86f0-f588e4f35c8a",
      "name": "Send Status Update Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -13584,
        3184
      ],
      "webhookId": "8473b2d0-cd90-49aa-81fb-af1aea92dbaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "application-tracker",
        "options": {}
      },
      "id": "d81f8f2a-f8aa-43dd-8648-eae41bad892b",
      "name": "Webhook Trigger2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        3184
      ],
      "webhookId": "application-tracker-webhook",
      "notes": "POST body: { action, user_id, job_id?, application_id?, status?, interview_date?, interview_notes?, notes? }\naction: 'create' | 'update_status' | 'schedule_interview'"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst action = (body.action || '').trim();\nconst user_id = body.user_id;\nconst job_id = body.job_id || null;\nconst application_id = body.application_id || null;\nconst status = (body.status || '').trim() || null;\nconst interview_date = body.interview_date || null;\nconst interview_location = body.interview_location || null;\nconst interview_type = (body.interview_type || 'video').trim();\nconst interviewer_name = body.interviewer_name || null;\nconst interviewer_role = body.interviewer_role || null;\nconst notes = body.notes || null;\n\nconst validActions = ['create', 'update_status', 'schedule_interview'];\nconst validStatuses = ['interested', 'applied', 'phone_screen', 'interview', 'final_round', 'offer', 'rejected', 'withdrawn', 'accepted'];\n\nif (!action || !validActions.includes(action)) {\n  throw new Error(`Invalid or missing action. Must be one of: ${validActions.join(', ')}`);\n}\nif (!user_id) {\n  throw new Error('Missing required field: user_id');\n}\nif (action === 'create' && !job_id) {\n  throw new Error('action=create requires job_id');\n}\nif (action === 'update_status' && !application_id) {\n  throw new Error('action=update_status requires application_id');\n}\nif (action === 'update_status') {\n  if (!status || !validStatuses.includes(status)) {\n    throw new Error(`Invalid status \"${status}\". Must be one of: ${validStatuses.join(', ')}`);\n  }\n}\nif (action === 'schedule_interview' && !application_id) {\n  throw new Error('action=schedule_interview requires application_id');\n}\nif (action === 'schedule_interview' && !interview_date) {\n  throw new Error('action=schedule_interview requires interview_date (ISO 8601)');\n}\n\nreturn [{\n  json: {\n    action,\n    user_id: String(user_id),\n    job_id: job_id ? parseInt(job_id) : null,\n    application_id: application_id ? parseInt(application_id) : null,\n    status,\n    interview_date,\n    interview_location,\n    interview_type,\n    interviewer_name,\n    interviewer_role,\n    notes\n  }\n}];"
      },
      "id": "dab65940-f213-455a-87f9-4896d19626d8",
      "name": "Validate Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        3184
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "followup-response",
        "options": {}
      },
      "id": "0a16b1bf-0bf9-4e97-bf7d-ddfb3ec30fae",
      "name": "Mark Response Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        3696
      ],
      "webhookId": "followup-response-webhook",
      "notes": "POST body: { followup_id, application_id, user_id, response_status }\nresponse_status: 'replied' | 'no_response' | 'bounced'"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst followup_id = body.followup_id;\nconst application_id = body.application_id;\nconst user_id = body.user_id;\nconst response_status = (body.response_status || '').trim();\n\nconst validStatuses = ['replied', 'no_response', 'bounced'];\n\nif (!followup_id) throw new Error('Missing followup_id');\nif (!application_id) throw new Error('Missing application_id');\nif (!user_id) throw new Error('Missing user_id');\nif (!validStatuses.includes(response_status)) {\n  throw new Error('Invalid response_status. Must be one of: ' + validStatuses.join(', '));\n}\n\nreturn [{\n  json: {\n    followup_id: parseInt(followup_id),\n    application_id: parseInt(application_id),\n    user_id: parseInt(user_id),\n    response_status\n  }\n}];"
      },
      "id": "d29caff6-48e2-4177-9d16-1945bf47abc3",
      "name": "Validate Response Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        3696
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE follow_up_log\nSET\n  response_status = '{{ $json.response_status }}',\n  responded_at = CASE WHEN '{{ $json.response_status }}' = 'replied' THEN NOW() ELSE NULL END,\n  updated_at = NOW()\nWHERE id = {{ $json.followup_id }}\n  AND application_id = {{ $json.application_id }}\nRETURNING id, application_id, followup_type, response_status;",
        "options": {}
      },
      "id": "5cc0f147-996a-40a7-8cb8-4f92e5dc94d7",
      "name": "Update Follow-up Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14928,
        3696
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-replied",
              "leftValue": "={{ $json.response_status }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "def4b383-5ae4-4221-8e25-b39b9dd4bb7e",
      "name": "Was Replied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14704,
        3696
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE applications\nSET\n  status = 'phone_screen',\n  last_activity = NOW(),\n  updated_at = NOW()\nWHERE id = {{ $json.application_id }}\n  AND status = 'applied'\nRETURNING id, status;",
        "options": {}
      },
      "id": "5c6950b8-02cd-4ab7-bc93-d0afef40654c",
      "name": "Advance Status on Reply",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14480,
        3600
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true,
      "notes": "Only advances if still in 'applied' — won't overwrite further stages"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) AS total_sent,\n  COUNT(CASE WHEN response_status = 'replied' THEN 1 END) AS total_replied,\n  COUNT(CASE WHEN response_status = 'no_response' THEN 1 END) AS no_response,\n  COUNT(CASE WHEN response_status = 'bounced' THEN 1 END) AS bounced,\n  COUNT(CASE WHEN response_status = 'pending' THEN 1 END) AS pending,\n  ROUND(\n    100.0 * COUNT(CASE WHEN response_status = 'replied' THEN 1 END)\n    / NULLIF(COUNT(CASE WHEN response_status != 'pending' THEN 1 END), 0),\n  1) AS response_rate_pct\nFROM follow_up_log\nWHERE user_id = {{ $json.user_id }};",
        "options": {}
      },
      "id": "fad7fbb9-a3d8-4b65-83ea-0c916954171f",
      "name": "Calculate Response Rate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14480,
        3792
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "ab78edca-25e2-4a24-8da5-574de30d48a5",
      "name": "Merge Response Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -14256,
        3696
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validate Response Input').first().json;\n\nreturn [{\n  json: {\n    followup_id: data.followup_id,\n    application_id: data.application_id,\n    user_id: data.user_id,\n    response_status: data.response_status,\n    is_replied: data.response_status === 'replied'\n  }\n}];"
      },
      "id": "fa048e76-8d12-45d5-9d96-c3ac3a9e1dea",
      "name": "Prepare Response Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15152,
        3696
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id AS application_id,\n  a.job_id,\n  a.user_id,\n  a.status,\n  a.interview_date,\n  a.interview_type,\n  a.interviewer_name,\n  a.interviewer_role,\n  a.interview_location,\n  j.title AS job_title,\n  j.company_name,\n  j.company_url,\n  j.location AS job_location,\n  j.description AS job_description,\n  j.requirements AS job_requirements,\n  j.source_url AS job_source_url,\n  u.email,\n  u.full_name,\n  up.skills,\n  up.job_titles,\n  up.experience_years,\n  up.industries,\n  up.min_salary,\n  up.max_salary,\n  up.work_type,\n  cr.company_overview,\n  cr.mission_and_values,\n  cr.talking_points AS company_talking_points\nFROM applications a\nJOIN jobs j ON a.job_id = j.id\nJOIN users u ON a.user_id = u.id\nJOIN user_profiles up ON up.user_id = u.id\nLEFT JOIN company_research cr ON cr.application_id = a.id\nWHERE a.id = {{ $json.application_id }}\n  AND a.user_id = {{ $json.user_id }}\nLIMIT 1;",
        "options": {}
      },
      "id": "a93db075-dc20-478e-8563-b8fef422fa6f",
      "name": "Fetch Application + Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -15152,
        4112
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const db = $input.first().json;\nconst input = $('Validate Input3').first().json;\n\nif (!db || !db.job_title) {\n  throw new Error('Application not found. Check application_id and user_id.');\n}\n\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  try { return JSON.parse(field); }\n  catch(e) { return field.split(',').map(i => i.trim()).filter(Boolean); }\n}\n\nconst skills = safeJSONParse(db.skills);\nconst jobTitles = safeJSONParse(db.job_titles);\nconst industries = safeJSONParse(db.industries);\n\n// Merge interviewer info: prefer webhook input over DB record\nconst interviewer_name = input.interviewer_name || db.interviewer_name || null;\nconst interviewer_role = input.interviewer_role || db.interviewer_role || null;\nconst interviewer_linkedin_url = input.interviewer_linkedin_url || null;\n\nreturn [{\n  json: {\n    application_id: db.application_id,\n    job_id: db.job_id,\n    user_id: db.user_id,\n    email: db.email,\n    full_name: db.full_name,\n    job_title: db.job_title,\n    company_name: db.company_name,\n    company_url: db.company_url || '',\n    job_location: db.job_location || 'Remote',\n    job_description: (db.job_description || '').substring(0, 3000),\n    job_requirements: (db.job_requirements || '').substring(0, 2000),\n    interview_date: db.interview_date || null,\n    interview_type: db.interview_type || 'video',\n    interview_location: db.interview_location || null,\n    interviewer_name,\n    interviewer_role,\n    interviewer_linkedin_url,\n    skills,\n    job_titles: jobTitles,\n    industries,\n    experience_years: db.experience_years || 0,\n    company_overview: db.company_overview || null,\n    mission_and_values: db.mission_and_values || null,\n    company_talking_points: db.company_talking_points || null,\n    has_company_research: !!db.company_overview,\n    has_interviewer: !!interviewer_name,\n    has_linkedin: !!interviewer_linkedin_url\n  }\n}];"
      },
      "id": "14f0d89b-24f9-4acc-bc23-61442768b536",
      "name": "Prepare Prep Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14928,
        4112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-linkedin",
              "leftValue": "={{ $json.has_linkedin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3fea973-b50c-462c-8e61-87e022467f1b",
      "name": "Has LinkedIn URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14704,
        4112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.interviewer_linkedin_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "2692d5de-ab7f-473e-a7bd-7734343dc9d0",
      "name": "Scrape LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -14480,
        4016
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "notes": "LinkedIn may block scraping — if blocked, interviewer_bio will fall back to name+role only"
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Prep Data').first().json;\nconst html = $input.first().json?.body || $input.first().json?.data || '';\n\nconst stripHtml = (str) => {\n  if (typeof str !== 'string') return '';\n  return str\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim()\n    .substring(0, 2000);\n};\n\nconst bio = stripHtml(html);\n\nreturn [{\n  json: {\n    ...prepData,\n    interviewer_bio: bio.length > 100 ? bio : null,\n    linkedin_scraped: bio.length > 100\n  }\n}];"
      },
      "id": "12b58b7c-d38d-47bf-8f33-672a0c897efc",
      "name": "Parse LinkedIn HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14256,
        4016
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Prep Data').first().json;\n\nreturn [{\n  json: {\n    ...prepData,\n    interviewer_bio: null,\n    linkedin_scraped: false\n  }\n}];"
      },
      "id": "48da2a6b-6d96-4d6b-9744-75e90d39ab10",
      "name": "No LinkedIn - Pass Through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14256,
        4208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "0ac9a6c6-5f2d-43e7-93f0-64d97fcbc758",
      "name": "Gemini AI Interview Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13808,
        4112
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7PAJYYTPTepr9gwv",
          "name": "Match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst e = (str) => (str || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst today = new Date().toLocaleDateString('en-US', { year:'numeric', month:'long', day:'numeric' });\n\nconst questions = d.questions || {};\n\nconst renderQuestions = (list, color) => {\n  if (!Array.isArray(list) || list.length === 0) return '<p style=\"color:#6b7280;font-style:italic\">None generated.</p>';\n  return list.map(q => '<div style=\"margin-bottom:14px;padding:12px 14px;background:#f8fafc;border-left:3px solid ' + color + ';border-radius:0 6px 6px 0\">' +\n    '<p style=\"margin:0 0 4px;font-weight:600;color:#1e3a5f;font-size:10pt\">' + e(q.question) + '</p>' +\n    '<p style=\"margin:0 0 2px;font-size:8.5pt;color:#64748b\"><em>Why asked:</em> ' + e(q.why_asked) + '</p>' +\n    '<p style=\"margin:0;font-size:8.5pt;color:#0f6e56\"><em>Tip:</em> ' + e(q.tip) + '</p>' +\n    '</div>'\n  ).join('');\n};\n\nconst renderStar = (list) => {\n  if (!Array.isArray(list) || list.length === 0) return '<p style=\"color:#6b7280;font-style:italic\">No STAR answers generated.</p>';\n  return list.map((s, i) => '<div style=\"margin-bottom:18px;border:1px solid #e2e8f0;border-radius:8px;overflow:hidden\">' +\n    '<div style=\"background:#1e3a5f;padding:8px 14px\"><p style=\"margin:0;color:#fff;font-weight:600;font-size:9.5pt\">' + e(s.question) + '</p></div>' +\n    '<div style=\"padding:12px 14px\">' +\n    '<table style=\"width:100%;border-collapse:collapse;font-size:9pt\">' +\n    '<tr><td style=\"width:90px;color:#64748b;vertical-align:top;padding:4px 8px 4px 0;font-weight:600\">Situation</td><td style=\"color:#374151;padding:4px 0\">' + e(s.situation) + '</td></tr>' +\n    '<tr><td style=\"color:#64748b;vertical-align:top;padding:4px 8px 4px 0;font-weight:600\">Task</td><td style=\"color:#374151;padding:4px 0\">' + e(s.task) + '</td></tr>' +\n    '<tr><td style=\"color:#64748b;vertical-align:top;padding:4px 8px 4px 0;font-weight:600\">Action</td><td style=\"color:#374151;padding:4px 0\">' + e(s.action) + '</td></tr>' +\n    '<tr><td style=\"color:#64748b;vertical-align:top;padding:4px 8px 4px 0;font-weight:600\">Result</td><td style=\"color:#374151;padding:4px 0;font-weight:600;color:#0f6e56\">' + e(s.result) + '</td></tr>' +\n    '</table></div></div>'\n  ).join('');\n};\n\nconst questionsToAsk = Array.isArray(d.questions_to_ask) ? d.questions_to_ask.map(q => '<li style=\"margin-bottom:5px\">' + e(q) + '</li>').join('') : '';\nconst dos = d.dos_and_donts?.dos || [];\nconst donts = d.dos_and_donts?.donts || [];\nconst dosHtml = dos.map(x => '<li style=\"margin-bottom:4px;color:#166534\">' + e(x) + '</li>').join('');\nconst dontsHtml = donts.map(x => '<li style=\"margin-bottom:4px;color:#991b1b\">' + e(x) + '</li>').join('');\n\nconst interviewDate = d.interview_date ? new Date(d.interview_date).toLocaleString('en-US', { weekday:'long', year:'numeric', month:'long', day:'numeric', hour:'2-digit', minute:'2-digit' }) : 'Not scheduled';\n\nconst html = '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><title>Interview Prep - ' + e(d.company_name) + '</title>' +\n'<style>* { margin:0; padding:0; box-sizing:border-box; } body { font-family:Arial,sans-serif; font-size:10pt; color:#1a1a1a; padding:32px 40px; max-width:820px; margin:0 auto; } .header { border-bottom:3px solid #1e3a5f; padding-bottom:14px; margin-bottom:22px; } h1 { font-size:20pt; font-weight:700; color:#1e3a5f; } .sub { color:#4b5563; font-size:9.5pt; margin-top:4px; } .meta-bar { display:flex; gap:20px; flex-wrap:wrap; background:#eff6ff; padding:10px 16px; border-radius:6px; margin-bottom:22px; font-size:9pt; color:#1e40af; } .stitle { font-size:9pt; font-weight:700; color:#1e3a5f; text-transform:uppercase; letter-spacing:1px; border-bottom:2px solid #dbeafe; padding-bottom:4px; margin-bottom:12px; margin-top:22px; } .card { background:#f8fafc; border:1px solid #e2e8f0; border-radius:6px; padding:12px 16px; line-height:1.65; color:#374151; margin-bottom:14px; } .dos-donts { display:grid; grid-template-columns:1fr 1fr; gap:16px; } .dos { background:#f0fdf4; border:1px solid #bbf7d0; border-radius:6px; padding:12px 16px; } .donts { background:#fef2f2; border:1px solid #fecaca; border-radius:6px; padding:12px 16px; } ul.items { padding-left:18px; } ul.items li { line-height:1.55; } .interviewer-box { background:#fef9c3; border-left:4px solid #ca8a04; padding:12px 16px; border-radius:0 6px 6px 0; margin-bottom:14px; } .footer-note { margin-top:28px; border-top:1px solid #e5e7eb; padding-top:10px; font-size:8pt; color:#9ca3af; text-align:center; }</style></head><body>' +\n'<div class=\"header\"><h1>&#127358; Interview Prep Document</h1><div class=\"sub\">Prepared for: <strong>' + e(d.full_name) + '</strong> &nbsp;&bull;&nbsp; Role: <strong>' + e(d.job_title) + '</strong> at <strong>' + e(d.company_name) + '</strong></div></div>' +\n'<div class=\"meta-bar\"><span><strong>Interview:</strong> ' + e(interviewDate) + '</span><span><strong>Format:</strong> ' + e(d.interview_type || 'Video') + '</span>' + (d.interview_location ? '<span><strong>Link/Location:</strong> ' + e(d.interview_location) + '</span>' : '') + '<span><strong>Generated:</strong> ' + today + '</span></div>' +\n(d.interviewer_name ? '<div class=\"interviewer-box\"><strong>&#128100; Interviewer:</strong> ' + e(d.interviewer_name) + (d.interviewer_role ? ' &mdash; ' + e(d.interviewer_role) : '') + (d.interviewer_bio ? '<br><span style=\"font-size:8.5pt;color:#713f12\">LinkedIn: ' + e(d.interviewer_bio.substring(0,300)) + '...</span>' : '') + '</div>' : '') +\n'<div class=\"stitle\">Role Analysis</div><div class=\"card\">' + e(d.role_analysis || '') + '</div>' +\n'<div class=\"stitle\">Behavioural Questions (5)</div>' + renderQuestions(questions.behavioural, '#2563eb') +\n'<div class=\"stitle\">Technical Questions (3)</div>' + renderQuestions(questions.technical, '#7c3aed') +\n'<div class=\"stitle\">Culture Fit Questions (3)</div>' + renderQuestions(questions.culture_fit, '#0f6e56') +\n'<div class=\"stitle\">Situational Questions (2)</div>' + renderQuestions(questions.situational, '#ca8a04') +\n'<div class=\"stitle\">STAR Answer Frameworks (3)</div>' + renderStar(d.star_answers) +\n'<div class=\"stitle\">Smart Questions to Ask</div><ul class=\"items\" style=\"padding-left:18px\">' + questionsToAsk + '</ul>' +\n'<div class=\"stitle\">Do\\'s &amp; Don\\'ts</div><div class=\"dos-donts\"><div class=\"dos\"><p style=\"font-weight:600;color:#166534;margin-bottom:8px\">&#9989; Do</p><ul class=\"items\">' + dosHtml + '</ul></div><div class=\"donts\"><p style=\"font-weight:600;color:#991b1b;margin-bottom:8px\">&#10060; Don\\'t</p><ul class=\"items\">' + dontsHtml + '</ul></div></div>' +\n'<div class=\"stitle\">Salary Guidance</div><div class=\"card\">' + e(d.salary_guidance || '') + '</div>' +\n(d.interviewer_insights && d.interviewer_name ? '<div class=\"stitle\">Interviewer Insights</div><div class=\"card\" style=\"background:#fef9c3;border-color:#fde68a\">' + e(d.interviewer_insights) + '</div>' : '') +\n'<div class=\"stitle\">Coach\\'s Notes</div><div class=\"card\" style=\"font-style:italic;color:#374151\">' + e(d.prep_notes || '') + '</div>' +\n'<div class=\"footer-note\">Generated by Match AI &bull; ' + today + ' &bull; Review and personalise before your interview.</div>' +\n'</body></html>';\n\nreturn [{ json: { ...d, prep_html: html } }];"
      },
      "id": "c2ca1c06-881b-4be7-864c-36ffe72c0dd4",
      "name": "Render Prep HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13360,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse AI Response2').first().json;\nconst pdfBinary = $input.first().binary?.data\n  ? Buffer.from($input.first().binary.data, 'base64').toString('base64')\n  : null;\n\nreturn [{\n  json: {\n    ...d,\n    pdf_binary: pdfBinary,\n    pdf_generated: !!pdfBinary,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "23c6d8ce-86ef-46ed-a7e9-518242f53180",
      "name": "Prepare Save Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12912,
        4112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO interview_prep (\n  application_id,\n  user_id,\n  job_id,\n  interviewer_name,\n  interviewer_role,\n  interviewer_linkedin_url,\n  linkedin_scraped,\n  role_analysis,\n  questions,\n  star_answers,\n  questions_to_ask,\n  dos_and_donts,\n  salary_guidance,\n  interviewer_insights,\n  prep_notes,\n  html_content,\n  pdf_binary,\n  pdf_generated,\n  created_at\n) VALUES (\n  {{ $json.application_id }},\n  {{ $json.user_id }},\n  {{ $json.job_id }},\n  {{ $json.interviewer_name ? \"'\" + $json.interviewer_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.interviewer_role ? \"'\" + $json.interviewer_role.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.interviewer_linkedin_url ? \"'\" + $json.interviewer_linkedin_url + \"'\" : 'NULL' }},\n  {{ $json.linkedin_scraped ? 'true' : 'false' }},\n  '{{ ($json.role_analysis || '').replace(/'/g, \"''\") }}',\n  '{{ $json.questions_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.star_answers_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.questions_to_ask_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.dos_and_donts_json.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ ($json.salary_guidance || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.interviewer_insights || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.prep_notes || '').replace(/'/g, \"''\") }}',\n  '{{ $json.prep_html.replace(/'/g, \"''\") }}',\n  {{ $json.pdf_binary ? \"decode('\" + $json.pdf_binary + \"', 'base64')\" : 'NULL' }},\n  {{ $json.pdf_generated ? 'true' : 'false' }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (application_id) DO UPDATE SET\n  role_analysis = EXCLUDED.role_analysis,\n  questions = EXCLUDED.questions,\n  star_answers = EXCLUDED.star_answers,\n  html_content = EXCLUDED.html_content,\n  pdf_binary = EXCLUDED.pdf_binary,\n  updated_at = NOW()\nRETURNING id AS prep_id;",
        "options": {}
      },
      "id": "59c3a994-cf29-41cb-bab8-978b10b15ad5",
      "name": "Save Prep to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12688,
        4112
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Save Metadata').first().json.email }}",
        "subject": "=Match: Your Interview Prep for {{ $('Prepare Save Metadata').first().json.company_name }} is Ready",
        "message": "=<html><body style=\"font-family:Arial,sans-serif;color:#1a1a1a;max-width:580px;margin:0 auto;padding:24px\">\n<div style=\"border-bottom:3px solid #1e3a5f;padding-bottom:12px;margin-bottom:20px\">\n  <h2 style=\"color:#1e3a5f;margin:0\">&#127358; Interview Prep Ready</h2>\n</div>\n<p>Hi {{ $('Prepare Save Metadata').first().json.full_name }},</p>\n<p style=\"margin-top:12px\">Your interview prep document for <strong>{{ $('Prepare Save Metadata').first().json.job_title }}</strong> at <strong>{{ $('Prepare Save Metadata').first().json.company_name }}</strong> is ready.</p>\n\n<div style=\"background:#eff6ff;border-left:4px solid #2563eb;padding:14px 18px;margin:18px 0;border-radius:0 8px 8px 0\">\n  <table style=\"width:100%;font-size:13px;border-collapse:collapse\">\n    <tr><td style=\"color:#64748b;padding:4px 0;width:40%\">Interview</td><td style=\"font-weight:600;color:#1e3a5f\">{{ $('Prepare Save Metadata').first().json.interview_date || 'Date not set' }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Format</td><td style=\"color:#374151\">{{ $('Prepare Save Metadata').first().json.interview_type || 'Video' }}</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Questions</td><td style=\"color:#374151\">13 questions across 4 categories</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">STAR Answers</td><td style=\"color:#374151\">3 frameworks</td></tr>\n    <tr><td style=\"color:#64748b;padding:4px 0\">Interviewer</td><td style=\"color:#374151\">{{ $('Prepare Save Metadata').first().json.interviewer_name || 'Not provided' }}</td></tr>\n  </table>\n</div>\n\n<p style=\"margin-top:16px\">The full prep document is attached as a PDF. Review it the night before and personalise the STAR answers with your real experiences.</p>\n<p style=\"margin-top:10px\">&#9989; Good luck — you've got this!</p>\n\n<p style=\"color:#6b7280;font-size:8.5pt;margin-top:28px;border-top:1px solid #e5e7eb;padding-top:12px\">Generated automatically by Match AI. Always personalise with your own stories.</p>\n</body></html>",
        "options": {}
      },
      "id": "fb19001b-fb0f-44b6-9a5e-54f02630b32c",
      "name": "Send Prep Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -12464,
        4112
      ],
      "webhookId": "552a5538-7589-41bf-b229-97ab33dd304e",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview-prep",
        "options": {}
      },
      "id": "5ce36f86-9fb5-4bdb-a88f-9d3529c2a66a",
      "name": "Webhook Trigger4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        4112
      ],
      "webhookId": "interview-prep-webhook",
      "notes": "POST body: { user_id, application_id, interviewer_name? (optional), interviewer_linkedin_url? (optional) }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id;\nconst application_id = body.application_id;\nconst interviewer_name = (body.interviewer_name || '').trim() || null;\nconst interviewer_role = (body.interviewer_role || '').trim() || null;\nconst interviewer_linkedin_url = (body.interviewer_linkedin_url || '').trim() || null;\n\nif (!user_id) throw new Error('Missing required field: user_id');\nif (!application_id) throw new Error('Missing required field: application_id');\n\nreturn [{\n  json: {\n    user_id: parseInt(user_id),\n    application_id: parseInt(application_id),\n    interviewer_name,\n    interviewer_role,\n    interviewer_linkedin_url\n  }\n}];"
      },
      "id": "2b3598cf-3e78-4aa7-8e8e-505fd8ab09bb",
      "name": "Validate Input3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst skills = Array.isArray(d.skills) ? d.skills.join(', ') : 'Not specified';\nconst jobTitles = Array.isArray(d.job_titles) ? d.job_titles.join(', ') : 'Not specified';\nconst industries = Array.isArray(d.industries) ? d.industries.join(', ') : 'General';\n\nconst interviewerSection = d.interviewer_name\n  ? '## Interviewer\\n- Name: ' + d.interviewer_name + '\\n' +\n    (d.interviewer_role ? '- Role: ' + d.interviewer_role + '\\n' : '') +\n    (d.interviewer_bio ? '- LinkedIn Bio (scraped): ' + d.interviewer_bio.substring(0, 800) + '\\n' : '- No LinkedIn data available\\n')\n  : '## Interviewer\\nNo interviewer details provided.\\n';\n\nconst companySection = d.has_company_research\n  ? '## Company Context (from WF4 Research)\\n' +\n    '- Overview: ' + (d.company_overview || '').substring(0, 500) + '\\n' +\n    '- Mission: ' + (d.mission_and_values || '').substring(0, 300) + '\\n'\n  : '## Company Context\\nNo prior company research found. Base questions on job description only.\\n';\n\nconst prompt = 'You are a senior career coach specialising in interview preparation. Generate a comprehensive, personalised interview prep document for the candidate below. Return ONLY a valid JSON object — no markdown, no backticks.\\n\\n' +\n  '## Candidate\\n' +\n  '- Name: ' + d.full_name + '\\n' +\n  '- Skills: ' + skills + '\\n' +\n  '- Background: ' + jobTitles + '\\n' +\n  '- Industries: ' + industries + '\\n' +\n  '- Experience: ' + d.experience_years + ' years\\n\\n' +\n  '## Target Role\\n' +\n  '- Title: ' + d.job_title + '\\n' +\n  '- Company: ' + d.company_name + '\\n' +\n  '- Location: ' + d.job_location + '\\n' +\n  '- Interview Type: ' + d.interview_type + '\\n' +\n  (d.interview_date ? '- Interview Date: ' + d.interview_date + '\\n' : '') +\n  '\\n## Job Description\\n' + d.job_description + '\\n\\n' +\n  '## Job Requirements\\n' + d.job_requirements + '\\n\\n' +\n  interviewerSection + '\\n' +\n  companySection + '\\n' +\n  '---\\n\\n' +\n  'Return ONLY this JSON structure:\\n' +\n  '{\\n' +\n  '  \"role_analysis\": \"<2-3 sentences on what this role really needs and what will make someone successful in it>\",\\n' +\n  '  \"questions\": {\\n' +\n  '    \"behavioural\": [\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why interviewers ask this>\", \"tip\": \"<1 sentence tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" }\\n' +\n  '    ],\\n' +\n  '    \"technical\": [\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" }\\n' +\n  '    ],\\n' +\n  '    \"culture_fit\": [\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" }\\n' +\n  '    ],\\n' +\n  '    \"situational\": [\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" },\\n' +\n  '      { \"question\": \"<question>\", \"why_asked\": \"<why>\", \"tip\": \"<tip>\" }\\n' +\n  '    ]\\n' +\n  '  },\\n' +\n  '  \"star_answers\": [\\n' +\n  '    {\\n' +\n  '      \"question\": \"<one of the behavioural questions above>\",\\n' +\n  '      \"situation\": \"<suggested situation to describe>\",\\n' +\n  '      \"task\": \"<what their role was>\",\\n' +\n  '      \"action\": \"<what they should say they did>\",\\n' +\n  '      \"result\": \"<suggested result to highlight>\"\\n' +\n  '    },\\n' +\n  '    {\\n' +\n  '      \"question\": \"<second behavioural question>\",\\n' +\n  '      \"situation\": \"<situation>\",\\n' +\n  '      \"task\": \"<task>\",\\n' +\n  '      \"action\": \"<action>\",\\n' +\n  '      \"result\": \"<result>\"\\n' +\n  '    },\\n' +\n  '    {\\n' +\n  '      \"question\": \"<third behavioural question>\",\\n' +\n  '      \"situation\": \"<situation>\",\\n' +\n  '      \"task\": \"<task>\",\\n' +\n  '      \"action\": \"<action>\",\\n' +\n  '      \"result\": \"<result>\"\\n' +\n  '    }\\n' +\n  '  ],\\n' +\n  '  \"interviewer_insights\": ' + (d.interviewer_name ? '\"<personalised note on what to focus on based on the interviewer role/background>\"' : '\"No interviewer data provided.\"') + ',\\n' +\n  '  \"questions_to_ask\": [\\n' +\n  '    \"<smart question to ask the interviewer>\",\\n' +\n  '    \"<smart question 2>\",\\n' +\n  '    \"<smart question 3>\",\\n' +\n  '    \"<smart question 4>\",\\n' +\n  '    \"<smart question 5>\"\\n' +\n  '  ],\\n' +\n  '  \"dos_and_donts\": {\\n' +\n  '    \"dos\": [\"<do 1>\", \"<do 2>\", \"<do 3>\"],\\n' +\n  '    \"donts\": [\"<dont 1>\", \"<dont 2>\", \"<dont 3>\"]\\n' +\n  '  },\\n' +\n  '  \"salary_guidance\": \"<1-2 sentences on how to handle salary questions for this role/level>\",\\n' +\n  '  \"prep_notes\": \"<brief overall coaching note for this specific interview>\"\\n' +\n  '}';\n\nreturn [{\n  json: {\n    ...d,\n    requestBody: {\n      contents: [{ parts: [{ text: prompt }] }],\n      generationConfig: { temperature: 0.4, maxOutputTokens: 3000 }\n    }\n  }\n}];"
      },
      "id": "96f779dd-f603-4e3b-9510-d99b49d3d0cb",
      "name": "Build Gemini Prompt1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14032,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $('Build Gemini Prompt1').first().json;\nconst raw = $input.first().json;\n\nlet aiText = '';\ntry {\n  aiText = raw.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch(e) { aiText = ''; }\n\nconst clean = aiText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    role_analysis: 'Could not generate role analysis. Please review the job description manually.',\n    questions: {\n      behavioural: [\n        { question: 'Tell me about yourself.', why_asked: 'Standard opener to assess communication and background fit.', tip: 'Keep it to 2 minutes and tie it to the role.' },\n        { question: 'Describe a challenging project you led.', why_asked: 'Assesses leadership and problem-solving.', tip: 'Use the STAR format.' }\n      ],\n      technical: [\n        { question: 'Walk me through your technical approach to a recent project.', why_asked: 'Tests depth of technical knowledge.', tip: 'Be specific, not generic.' }\n      ],\n      culture_fit: [\n        { question: 'How do you prefer to work — independently or in a team?', why_asked: 'Culture alignment check.', tip: 'Show flexibility.' }\n      ],\n      situational: [\n        { question: 'What would you do in your first 30 days?', why_asked: 'Tests initiative and preparation.', tip: 'Show you have done your research.' }\n      ]\n    },\n    star_answers: [],\n    interviewer_insights: 'No interviewer data provided.',\n    questions_to_ask: [\n      'What does success look like in the first 90 days?',\n      'What are the biggest challenges facing the team right now?',\n      'How would you describe the team culture?'\n    ],\n    dos_and_donts: {\n      dos: ['Research the company beforehand', 'Bring specific examples', 'Ask thoughtful questions'],\n      donts: ['Speak negatively about past employers', 'Give vague answers', 'Forget to follow up']\n    },\n    salary_guidance: 'Let the interviewer bring up salary first. If pressed, give a range based on your research.',\n    prep_notes: 'AI parsing failed — fallback questions provided. Review job description carefully before the interview.'\n  };\n}\n\nreturn [{\n  json: {\n    ...context,\n    ...parsed,\n    questions_json: JSON.stringify(parsed.questions || {}),\n    star_answers_json: JSON.stringify(parsed.star_answers || []),\n    questions_to_ask_json: JSON.stringify(parsed.questions_to_ask || []),\n    dos_and_donts_json: JSON.stringify(parsed.dos_and_donts || {})\n  }\n}];"
      },
      "id": "5e7999c3-1b3a-4891-8d72-105dfe8f8fc3",
      "name": "Parse AI Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        4112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ JSON.stringify($json.prep_html) }},\n  \"landscape\": false,\n  \"format\": \"A4\",\n  \"margin\": \"12mm\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 45000
        }
      },
      "id": "8101baa4-d5da-4ea2-90c7-de89599811bd",
      "name": "HTML to PDF (PDFShift)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13136,
        4112
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "QTwwQm4seqDBPEdX",
          "name": "test"
        },
        "httpHeaderAuth": {
          "id": "AM5cmxS5kUx4WRjN",
          "name": "PDFShift - match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst user_id = (raw.body && raw.body.user_id) ? raw.body.user_id : raw.user_id;\n\nif (!user_id) {\n  throw new Error('Missing required field: user_id');\n}\n\nreturn [{ json: { user_id: String(user_id) } }];"
      },
      "id": "52286fe3-2393-43a8-af31-094f05c59ce8",
      "name": "Extract User ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        4704
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().filter(j => j.json && j.json.id);\n\nif (jobs.length === 0) {\n  return [{ json: { noJobs: true } }];\n}\n\nreturn jobs.map(j => ({ json: { ...j.json, noJobs: false } }));"
      },
      "id": "360a03e3-00fd-468f-9968-d8f40a9c3569",
      "name": "Prepare Job List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        4704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "no-jobs-check",
              "leftValue": "={{ $json.noJobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1847f1c6-0ee7-411b-98c4-642a5aa5679f",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14256,
        4704
      ]
    },
    {
      "parameters": {},
      "id": "fbfa13d7-8f9b-4192-9497-eb12581caf4c",
      "name": "No Jobs - Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -14032,
        4608
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst user = $('Prepare User Profile1').first().json;\n\nconst skills = Array.isArray(user.skills) ? user.skills : [];\nconst jobTitles = Array.isArray(user.job_titles) ? user.job_titles : [];\nconst locations = Array.isArray(user.preferred_locations) ? user.preferred_locations : [];\n\nconst prompt = 'You are a career matching AI. Analyze this job against the candidate and return ONLY a valid JSON object, no markdown.\\n\\n'\n  + '## Candidate:\\n'\n  + '- Skills: ' + (skills.join(', ') || 'Not specified') + '\\n'\n  + '- Experience: ' + (user.experience_years || 0) + ' years\\n'\n  + '- Target Titles: ' + (jobTitles.join(', ') || 'Not specified') + '\\n'\n  + '- Min Salary: $' + (user.min_salary || 0) + '\\n'\n  + '- Locations: ' + (locations.join(', ') || 'Any') + '\\n'\n  + '- Work Type: ' + (user.work_type || 'Any') + '\\n\\n'\n  + '## Job:\\n'\n  + '- Title: ' + job.title + '\\n'\n  + '- Company: ' + job.company_name + '\\n'\n  + '- Location: ' + (job.location || 'Remote') + '\\n'\n  + '- Work Type: ' + (job.work_type || 'any') + '\\n'\n  + '- Salary: ' + (job.salary_min ? '$' + job.salary_min : 'N/A') + ' - ' + (job.salary_max ? '$' + job.salary_max : 'N/A') + '\\n'\n  + '- Description: ' + (job.description || '').substring(0, 500) + '\\n'\n  + '- Requirements: ' + (job.requirements || '').substring(0, 300) + '\\n\\n'\n  + 'Return ONLY this JSON (no markdown):\\n'\n  + '{\"matchScore\":<0-100>,\"reasoning\":\"<2 sentences>\",\"skillsMatched\":[\"skill\"],\"skillsMissing\":[\"skill\"],\"salaryMatch\":<bool>,\"locationMatch\":<bool>,\"recommendation\":\"<apply|consider|skip>\"}';\n\nreturn [{\n  json: {\n    user_id: user.user_id,\n    email: user.email,\n    full_name: user.full_name,\n    job_id: job.id,\n    jobTitle: job.title,\n    companyName: job.company_name,\n    sourceUrl: job.source_url || '',\n    requestBody: {\n      model: 'llama-3.1-8b-instant',\n      messages: [{ role: 'user', content: prompt }],\n      temperature: 0.3,\n      max_tokens: 400\n    }\n  }\n}];"
      },
      "id": "5c8075a3-2d0e-4e42-822a-0f3ad6771a3d",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13808,
        4528
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "e92dd212-475c-43e7-83ad-d1bd38d961dc",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -13584,
        4528
      ],
      "webhookId": "wait-rate-limit-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "437dd8e0-ed8b-448d-8d81-24b98a7761b6",
      "name": "Groq AI Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13360,
        4528
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1aC4wNCgmfSWdQdB",
          "name": "ZeroPress"
        },
        "groqApi": {
          "id": "0iOcTeuO4MPAaXgw",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "score-gte-70",
              "leftValue": "={{ $json.matchScore }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c36238a5-fafe-424a-88b6-e34f5cce3076",
      "name": "Match Score >= 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -12912,
        4528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-jobs",
        "options": {}
      },
      "id": "ea68ef51-2f8a-4e6a-b180-345164439f6d",
      "name": "Webhook Trigger5",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        4704
      ],
      "webhookId": "match-jobs-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.id AS profile_id, up.user_id, u.email, u.full_name, up.skills, up.experience_years, up.job_titles, up.industries, up.min_salary, up.max_salary, up.preferred_locations, up.work_type FROM user_profiles up JOIN users u ON up.user_id = u.id WHERE up.status = 'active' AND up.user_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "10cc2347-9b8c-458b-aea0-dc5599a66a44",
      "name": "Get User Profile1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -15152,
        4704
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\n\nif (!user || !user.user_id) {\n  throw new Error('No active profile found for this user.');\n}\n\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') {\n    try { return JSON.parse(field); }\n    catch (e) { return field.split(',').map(i => i.trim()).filter(Boolean); }\n  }\n  return [];\n}\n\nreturn [{\n  json: {\n    user_id: user.user_id,\n    email: user.email,\n    full_name: user.full_name || 'User',\n    skills: safeJSONParse(user.skills),\n    experience_years: user.experience_years || 0,\n    job_titles: safeJSONParse(user.job_titles),\n    min_salary: user.min_salary || 0,\n    preferred_locations: safeJSONParse(user.preferred_locations),\n    work_type: user.work_type || 'any'\n  }\n}];"
      },
      "id": "a5564db9-2b48-4954-976f-7563fbd9725d",
      "name": "Prepare User Profile1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14928,
        4704
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT j.id, j.title, j.company_name, j.location, j.work_type, j.employment_type, j.salary_min, j.salary_max, j.description, j.requirements, j.source_url FROM jobs j WHERE j.status = 'active' AND j.created_at > NOW() - INTERVAL '7 days' AND NOT EXISTS (SELECT 1 FROM job_matches jm WHERE jm.job_id = j.id AND jm.user_id = $1) AND NOT EXISTS (SELECT 1 FROM applications a WHERE a.job_id = j.id AND a.user_id = $1) ORDER BY j.posted_date DESC NULLS LAST LIMIT 10",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "c64ab809-7320-451b-8686-b23ba73b90d7",
      "name": "Get Unmatched Jobs1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14704,
        4704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "68eb3eda-f11a-4ffd-98fa-9970efdf623b",
      "name": "Loop Each Job1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -14032,
        4800
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = $('Build Groq Prompt').first().json;\n\ntry {\n  const responseText = input?.choices?.[0]?.message?.content || '';\n  const cleanText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleanText.match(/\\{[\\s\\S]*\\}/);\n\n  if (!jsonMatch) throw new Error('No JSON in response');\n\n  const parsed = JSON.parse(jsonMatch[0]);\n\n  return [{\n    json: {\n      user_id: context.user_id,\n      job_id: context.job_id,\n      email: context.email,\n      full_name: context.full_name,\n      jobTitle: context.jobTitle,\n      companyName: context.companyName,\n      sourceUrl: context.sourceUrl,\n      matchScore: Math.min(100, Math.max(0, Number(parsed.matchScore) || 0)),\n      reasoning: parsed.reasoning || '',\n      skillsMatched: Array.isArray(parsed.skillsMatched) ? parsed.skillsMatched : [],\n      skillsMissing: Array.isArray(parsed.skillsMissing) ? parsed.skillsMissing : [],\n      salaryMatch: Boolean(parsed.salaryMatch),\n      locationMatch: Boolean(parsed.locationMatch),\n      recommendation: parsed.recommendation || 'skip',\n      aiSuccess: true\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      user_id: context.user_id,\n      job_id: context.job_id,\n      email: context.email,\n      full_name: context.full_name,\n      jobTitle: context.jobTitle,\n      companyName: context.companyName,\n      sourceUrl: context.sourceUrl,\n      matchScore: 0,\n      reasoning: 'AI scoring failed: ' + e.message,\n      skillsMatched: [],\n      skillsMissing: [],\n      salaryMatch: false,\n      locationMatch: false,\n      recommendation: 'skip',\n      aiSuccess: false\n    }\n  }];\n}"
      },
      "id": "191c1699-3617-427c-ba3a-e260c48e351d",
      "name": "Parse AI Response4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13136,
        4528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'pending', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, skills_matched = EXCLUDED.skills_matched, skills_missing = EXCLUDED.skills_missing, updated_at = NOW() RETURNING id",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.job_id, $json.matchScore, $json.reasoning, $json.skillsMatched, $json.skillsMissing] }}"
        }
      },
      "id": "363f414f-3405-4540-900a-16df86b57440",
      "name": "Insert High Match1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12688,
        4432
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Match Score >= 70?').first().json.email }}",
        "subject": "=🎯 New Job Match: {{ $('Match Score >= 70?').first().json.jobTitle }} at {{ $('Match Score >= 70?').first().json.companyName }} ({{ $('Match Score >= 70?').first().json.matchScore }}% match)",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#2563eb\">🎯 New Job Match Found!</h2>\n  <p>Hi {{ $('Match Score >= 70?').first().json.full_name }},</p>\n  <div style=\"background:#f8fafc;border-left:4px solid #2563eb;padding:16px;margin:20px 0\">\n    <h3 style=\"margin:0 0 8px 0\">{{ $('Match Score >= 70?').first().json.jobTitle }}</h3>\n    <p style=\"margin:0;color:#64748b\">{{ $('Match Score >= 70?').first().json.companyName }}</p>\n  </div>\n  <div style=\"background:#ecfdf5;padding:16px;border-radius:8px;margin:20px 0\">\n    <p style=\"margin:0;font-size:24px;font-weight:bold;color:#059669\">{{ $('Match Score >= 70?').first().json.matchScore }}% Match</p>\n  </div>\n  <p><strong>Why this matches:</strong> {{ $('Match Score >= 70?').first().json.reasoning }}</p>\n  <p><strong>Skills Matched:</strong> {{ $('Match Score >= 70?').first().json.skillsMatched.join(', ') || 'None identified' }}</p>\n  <p><strong>Skills to Develop:</strong> {{ $('Match Score >= 70?').first().json.skillsMissing.join(', ') || 'None identified' }}</p>\n  <div style=\"margin:30px 0\">\n    <a href=\"{{ $('Match Score >= 70?').first().json.sourceUrl }}\" style=\"background:#2563eb;color:white;padding:12px 24px;text-decoration:none;border-radius:6px\">View Job →</a>\n  </div>\n</div>",
        "options": {}
      },
      "id": "aef2e6ca-230c-4dbc-a331-13b5e33c82c8",
      "name": "Send Match Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -12464,
        4800
      ],
      "webhookId": "518a71de-299d-4bdb-b761-3e157928e321",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'rejected', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, updated_at = NOW() RETURNING id",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.job_id, $json.matchScore, $json.reasoning, $json.skillsMatched, $json.skillsMissing] }}"
        }
      },
      "id": "445f27f1-447f-4d27-8fb6-cfe7ca4bf9e9",
      "name": "Insert Low Match1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12688,
        4624
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "26cf9c08-bed7-4417-905a-dcb296eb6525",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -15600,
        1424
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.id, up.user_id, u.email, up.skills, up.job_titles, up.preferred_locations, up.min_salary, up.max_salary, up.work_type, up.status FROM user_profiles up JOIN users u ON up.user_id = u.id WHERE up.status = 'active' LIMIT 1",
        "options": {}
      },
      "id": "5474d409-d893-4960-b998-4bef2c212d09",
      "name": "Get Active User Profiles1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -15376,
        1424
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get Active User Profiles1').first().json;\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') {\n    try { return JSON.parse(field); } catch (e) { return field.split(',').map(item => item.trim()).filter(Boolean); }\n  }\n  return [];\n}\nconst jobTitles = safeJSONParse(profile.job_titles);\nconst locations = safeJSONParse(profile.preferred_locations);\nconst topJobTitles = jobTitles.slice(0, 2);\nconst topLocations = locations.slice(0, 2);\nconst hasPhilippines = topLocations.some(loc => loc.toLowerCase().includes('philippines') || loc.toLowerCase().includes('manila') || loc.toLowerCase().includes('taguig') || loc.toLowerCase().includes('bgc') || loc.toLowerCase().includes('makati') || loc.toLowerCase().includes('quezon'));\nconst apiCalls = [];\ntopJobTitles.forEach(jobTitle => {\n  if (hasPhilippines) apiCalls.push({ source: 'jsearch', url: 'https://jsearch.p.rapidapi.com/search', query: `${jobTitle} Philippines`, jobTitle, location: 'Philippines', requiresRapidAPI: true, isRSS: false });\n  apiCalls.push({ source: 'jsearch', url: 'https://jsearch.p.rapidapi.com/search', query: `${jobTitle} Remote`, jobTitle, location: 'Remote', requiresRapidAPI: true, isRSS: false });\n});\napiCalls.push({ source: 'remotive_rss', url: 'https://remotive.com/remote-jobs/software-dev.rss', query: 'Remote Software Dev', jobTitle: 'Software Developer', location: 'Remote', requiresRapidAPI: false, isRSS: true });\napiCalls.push({ source: 'weworkremotely_rss', url: 'https://weworkremotely.com/categories/remote-programming-jobs.rss', query: 'Remote Programming', jobTitle: 'Programmer', location: 'Remote', requiresRapidAPI: false, isRSS: true });\nreturn apiCalls.map(api => ({ json: { ...api, user_id: profile.user_id, email: profile.email } }));"
      },
      "id": "b5acb9ed-da95-4d75-b4cd-958aa2321582",
      "name": "Create API URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15152,
        1424
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "520cbfeb-513d-4bca-94e0-5a38e85591c7",
      "name": "Loop Through APIs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -14928,
        1424
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "313f4208-73f4-49d8-8b47-6b81dbd80746",
      "name": "Wait 3 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -14704,
        1232
      ],
      "webhookId": "7363013c-bcef-45bc-b727-0fa43c2bb990"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "requires-rapidapi",
              "leftValue": "={{ $json.requiresRapidAPI }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb6dabe7-8cee-4180-ae25-e8ca4e56e0e5",
      "name": "Route by API Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14480,
        1232
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "date_posted",
              "value": "week"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "dd89fdfa-3489-4a09-bbae-2e72dd0a1e06",
      "name": "HTTP Request - JSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -14256,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "F14dvMJI3CZNOYtk",
          "name": "RapidAPI - match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ec742739-495a-4057-8478-8ebdf5ae8072",
      "name": "HTTP Request - Free API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -14256,
        1328
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst jobs = [];\nfor (const item of items) {\n  const data = item.json;\n  if (data.data && Array.isArray(data.data)) {\n    data.data.forEach(j => jobs.push({ external_id: `jsearch-${j.job_id}`, source: 'jsearch', source_url: j.job_apply_link || j.job_google_link || '', title: j.job_title || '', company_name: j.employer_name || '', company_url: j.employer_website || null, location: j.job_city ? `${j.job_city}, ${j.job_country}` : j.job_country || 'Remote', work_type: j.job_is_remote ? 'remote' : 'onsite', employment_type: j.job_employment_type || 'full-time', description: (j.job_description || '').substring(0, 5000), requirements: (j.job_highlights?.Qualifications?.join('\\n') || '').substring(0, 2000), posted_date: j.job_posted_at_datetime_utc || new Date().toISOString(), salary_min: j.job_min_salary || null, salary_max: j.job_max_salary || null, scraped_at: new Date().toISOString(), status: 'active' }));\n  } else if (data.title && data.link) {\n    const stripHtml = (html) => { if (!html) return ''; return html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 5000); };\n    const extractCompany = (text) => { if (!text) return 'Unknown'; const m = text.match(/\\sat\\s+([A-Z][\\w\\s&.,()-]+?)(?:\\s+-|\\s+in|\\s+\\||$)/i); return m ? m[1].trim() : 'Unknown'; };\n    jobs.push({ external_id: data.link.split('/').pop()?.substring(0, 255) || data.link.substring(0, 255), source: data.link.includes('remotive') ? 'remotive' : data.link.includes('weworkremotely') ? 'weworkremotely' : 'rss', source_url: data.link, title: (data.title || '').substring(0, 500), company_name: extractCompany(data.title || '').substring(0, 255), company_url: null, location: 'Remote', work_type: 'remote', employment_type: 'full-time', description: stripHtml(data.description || ''), requirements: '', posted_date: data.pubDate || new Date().toISOString(), salary_min: null, salary_max: null, scraped_at: new Date().toISOString(), status: 'active' });\n  }\n}\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "b0aae525-de0a-4686-8a44-2d3b378d9538",
      "name": "Parse Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14032,
        1232
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (external_id, source, source_url, title, company_name, company_url, location, work_type, employment_type, description, requirements, posted_date, salary_min, salary_max, scraped_at, status) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12::timestamptz, $13::numeric, $14::numeric, $15::timestamptz, 'active') ON CONFLICT (external_id) DO UPDATE SET title = EXCLUDED.title, description = EXCLUDED.description, updated_at = CURRENT_TIMESTAMP RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.external_id, $json.source, $json.source_url, $json.title, $json.company_name, $json.company_url || null, $json.location, $json.work_type, $json.employment_type, $json.description, $json.requirements, $json.posted_date, $json.salary_min || null, $json.salary_max || null, $json.scraped_at] }}"
        }
      },
      "id": "ad64c9a3-d7b2-428c-96d4-c15c4a5fb54e",
      "name": "Insert Job in DB1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -13808,
        1232
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_jobs, COUNT(CASE WHEN created_at > NOW() - INTERVAL '1 day' THEN 1 END) AS new_jobs FROM jobs;",
        "options": {}
      },
      "id": "d02e0890-00bf-4bac-a3dd-b353c9cb68a8",
      "name": "Count Jobs Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14704,
        1424
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Active User Profiles1').item.json.email }}",
        "subject": "=Match: {{ $json.new_jobs }} New Jobs Found!",
        "emailType": "text",
        "message": "=Hello!\n\n✅ Daily job scraping complete!\n\n📊 Summary\n- New jobs (last 24h): {{ $json.new_jobs }}\n- Total jobs in database: {{ $json.total_jobs }}\n\nBest,\nMatch 🚀",
        "options": {}
      },
      "id": "c74b3c21-7340-4518-8348-b4b8d7e10427",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -14480,
        1424
      ],
      "webhookId": "867b863e-a954-48f4-8fa7-2b5eb04e6ce8",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-job",
        "options": {}
      },
      "id": "c7f27c8c-4b4a-4790-b29b-8b2c93eaa345",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        1936
      ],
      "webhookId": "match-jobs-webhook"
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nif (!user || !user.user_id) throw new Error('No active profile found.');\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') { try { return JSON.parse(field); } catch (e) { return field.split(',').map(i => i.trim()).filter(Boolean); } }\n  return [];\n}\nreturn [{ json: { user_id: user.user_id, profile_id: user.profile_id, email: user.email, full_name: user.full_name || 'User', skills: safeJSONParse(user.skills), experience_years: user.experience_years || 0, job_titles: safeJSONParse(user.job_titles), industries: safeJSONParse(user.industries), min_salary: user.min_salary || 0, max_salary: user.max_salary || 0, preferred_locations: safeJSONParse(user.preferred_locations), work_type: user.work_type || 'any' } }];"
      },
      "id": "87013564-81cd-462d-85f4-19d73ead6901",
      "name": "Prepare User Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15152,
        1936
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT j.id, j.title, j.company_name, j.company_url, j.location, j.work_type, j.employment_type, j.salary_min, j.salary_max, j.description, j.requirements, j.source_url, j.posted_date FROM jobs j WHERE j.status = 'active' AND DATE(j.scraped_at) = CURRENT_DATE AND NOT EXISTS (SELECT 1 FROM job_matches jm WHERE jm.job_id = j.id AND jm.user_id = $1) AND NOT EXISTS (SELECT 1 FROM applications a WHERE a.job_id = j.id AND a.user_id = $1) ORDER BY j.scraped_at DESC LIMIT 10",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "a98e2afc-3986-4838-a90e-b8808e626b1a",
      "name": "Get New Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14928,
        1936
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Prepare User Profile').first().json;\nconst jobs = $input.all().filter(j => j.json && j.json.id);\n\nif (jobs.length === 0) return [];\n\nreturn jobs.map(job => ({ json: {\n  user_id: user.user_id,\n  profile_id: user.profile_id,\n  email: user.email,\n  full_name: user.full_name,\n  userSkills: user.skills,\n  experienceYears: user.experience_years,\n  userJobTitles: user.job_titles,\n  userIndustries: user.industries,\n  minSalary: user.min_salary,\n  maxSalary: user.max_salary,\n  preferredLocations: user.preferred_locations,\n  preferredWorkType: user.work_type,\n  job_id: job.json.id,\n  jobTitle: job.json.title,\n  companyName: job.json.company_name,\n  jobLocation: job.json.location,\n  jobWorkType: job.json.work_type,\n  employmentType: job.json.employment_type,\n  description: (job.json.description || '').substring(0, 3000),\n  requirements: (job.json.requirements || '').substring(0, 1500),\n  salaryMin: job.json.salary_min,\n  salaryMax: job.json.salary_max,\n  sourceUrl: job.json.source_url\n} }));"
      },
      "id": "3ba80572-77ec-4901-b311-fae48d931273",
      "name": "Combine User + Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14704,
        1936
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "233a8057-6b32-4135-a599-c43450ad6e93",
      "name": "Loop Each Job",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -14480,
        1936
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "e332c461-1d78-48e4-b87f-cf6aabf2bd20",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -14256,
        1744
      ],
      "webhookId": "rate-limit-delay"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst jobData = $('Loop Each Job').first().json;\ntry {\n  const responseText = input?.choices?.[0]?.message?.content || '';\n  const clean = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (!m) throw new Error('No JSON in response');\n  const p = JSON.parse(m[0]);\n  return [{ json: { user_id: jobData.user_id, job_id: jobData.job_id, email: jobData.email, full_name: jobData.full_name, jobTitle: jobData.jobTitle, companyName: jobData.companyName, sourceUrl: jobData.sourceUrl, matchScore: Math.min(100, Math.max(0, Number(p.matchScore) || 0)), reasoning: p.reasoning || '', skillsMatched: Array.isArray(p.skillsMatched) ? p.skillsMatched : [], skillsMissing: Array.isArray(p.skillsMissing) ? p.skillsMissing : [], salaryMatch: Boolean(p.salaryMatch), locationMatch: Boolean(p.locationMatch), recommendation: p.recommendation || 'skip' } }];\n} catch (e) {\n  return [{ json: { user_id: jobData.user_id, job_id: jobData.job_id, email: jobData.email, full_name: jobData.full_name, jobTitle: jobData.jobTitle, companyName: jobData.companyName, sourceUrl: jobData.sourceUrl, matchScore: 0, reasoning: 'AI scoring failed: ' + e.message, skillsMatched: [], skillsMissing: [], salaryMatch: false, locationMatch: false, recommendation: 'skip' } }];\n}"
      },
      "id": "88212c0e-bd9b-4237-b7f9-1e28421988c7",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        1744
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "score-above-70",
              "leftValue": "={{ $json.matchScore }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "096b3fa8-226c-4d82-83cc-bcdc24b45ced",
      "name": "Match Score > 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13360,
        1744
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { u: String(d.user_id), j: Number(d.job_id), s: Number(d.matchScore), r: String(d.reasoning || ''), sm: d.skillsMatched || [], si: d.skillsMissing || [] } }];"
      },
      "id": "879eecd3-d09a-44f0-985c-ef2054037f93",
      "name": "Flatten High Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13136,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'pending', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, skills_matched = EXCLUDED.skills_matched, skills_missing = EXCLUDED.skills_missing, updated_at = NOW() RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.u, $json.j, $json.s, $json.r, $json.sm, $json.si] }}"
        }
      },
      "id": "16e18fad-8a6b-4c22-a5dc-ae44e79d83f8",
      "name": "Insert High Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12912,
        1648
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { u: String(d.user_id), j: Number(d.job_id), s: Number(d.matchScore), r: String(d.reasoning || ''), sm: d.skillsMatched || [], si: d.skillsMissing || [] } }];"
      },
      "id": "6954a67c-0411-4921-a0f5-243b4cef3826",
      "name": "Flatten Low Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13136,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'rejected', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, updated_at = NOW() RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.u, $json.j, $json.s, $json.r, $json.sm, $json.si] }}"
        }
      },
      "id": "793b9bfb-f703-445a-b1f2-e293c4187100",
      "name": "Insert Low Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -12912,
        1840
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Prepare User Profile').first().json;\nreturn [{ json: { user_id: user.user_id } }];"
      },
      "id": "59b3bf88-9c21-454d-9d78-02b871279bce",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14256,
        1936
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_matches, COUNT(CASE WHEN status = 'pending' AND match_score >= 70 THEN 1 END) AS high_matches, ROUND(AVG(match_score), 2) AS avg_score FROM job_matches WHERE user_id = $1 AND created_at > NOW() - INTERVAL '1 hour';",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "fe76c814-ff76-45ce-a4a3-e6e103aac75d",
      "name": "Get Match Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -14032,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare User Profile').first().json.email }}",
        "subject": "=🎯 Match: {{ $json.high_matches }} new job matches found",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#2563eb\">🎯 Job Matching Complete!</h2>\n  <p>Hi {{ $('Prepare User Profile').first().json.full_name }},</p>\n  <div style=\"background:#f8fafc;border-left:4px solid #2563eb;padding:16px;margin:20px 0\">\n    <table style=\"width:100%;font-size:14px\">\n      <tr><td style=\"color:#64748b;padding:4px 0\">High Matches (≥70%)</td><td style=\"font-weight:700;color:#059669\">{{ $json.high_matches }}</td></tr>\n      <tr><td style=\"color:#64748b;padding:4px 0\">Total Matches</td><td style=\"font-weight:700\">{{ $json.total_matches }}</td></tr>\n      <tr><td style=\"color:#64748b;padding:4px 0\">Average Score</td><td style=\"font-weight:700\">{{ $json.avg_score }}%</td></tr>\n    </table>\n  </div>\n  <p>Log in to view your matches and tailor your resume.</p>\n</div>",
        "options": {}
      },
      "id": "2af32293-ad03-4820-8d70-a6220d542c43",
      "name": "Send Match Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -13808,
        1936
      ],
      "webhookId": "80071e15-1219-430a-8056-8aa9875fb33a",
      "credentials": {
        "gmailOAuth2": {
          "id": "0oJaMkFU0pERnlCH",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Squash all items from the batch into a single signal item\n// so SplitInBatches advances exactly once per iteration.\nreturn [{ json: { batchDone: true, count: $input.all().length } }];"
      },
      "id": "9a0f2249-9f9f-4aee-9010-0bd735145417",
      "name": "Batch Done (Scrape)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "// Squash all items from the batch into a single signal item\n// so SplitInBatches advances exactly once per iteration.\nreturn [{ json: { batchDone: true } }];"
      },
      "id": "d50bf3c6-96b6-4668-9ab7-8c14ba62bf61",
      "name": "Batch Done (Match)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12688,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.id AS profile_id, up.user_id, u.email, u.full_name, up.skills, up.experience_years, up.job_titles, up.industries, up.min_salary, up.max_salary, up.preferred_locations, up.work_type FROM user_profiles up JOIN users u ON up.user_id = u.id WHERE up.status = 'active' AND up.user_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.body?.user_id ?? $json.user_id] }}"
        }
      },
      "id": "2b3bf46a-3b15-45f5-86a6-796604d3db2a",
      "name": "Get User Profile2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -15376,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst userSkills = Array.isArray(job.userSkills) ? job.userSkills : [];\nconst userJobTitles = Array.isArray(job.userJobTitles) ? job.userJobTitles : [];\nconst userIndustries = Array.isArray(job.userIndustries) ? job.userIndustries : [];\nconst preferredLocations = Array.isArray(job.preferredLocations) ? job.preferredLocations : [];\n\nconst prompt = 'You are a career matching AI. Analyze this job against the user profile and return ONLY a valid JSON object with no additional text.\\n'\n  + '## User Profile:\\n'\n  + '- Skills: ' + (userSkills.join(', ') || 'Not specified') + '\\n'\n  + '- Experience: ' + (job.experienceYears || 0) + ' years\\n'\n  + '- Desired Job Titles: ' + (userJobTitles.join(', ') || 'Not specified') + '\\n'\n  + '- Preferred Industries: ' + (userIndustries.length ? userIndustries.join(', ') : 'Any') + '\\n'\n  + '- Minimum Salary: $' + (job.minSalary || 0) + '\\n'\n  + '- Preferred Locations: ' + (preferredLocations.join(', ') || 'Any') + '\\n'\n  + '- Work Type Preference: ' + (job.preferredWorkType || 'Any') + '\\n'\n  + '## Job Posting:\\n'\n  + '- Title: ' + (job.jobTitle || 'Unknown') + '\\n'\n  + '- Company: ' + (job.companyName || 'Unknown') + '\\n'\n  + '- Location: ' + (job.jobLocation || 'Not specified') + '\\n'\n  + '- Work Type: ' + (job.jobWorkType || 'Not specified') + '\\n'\n  + '- Employment Type: ' + (job.employmentType || 'Not specified') + '\\n'\n  + '- Salary Range: $' + (job.salaryMin || 'N/A') + ' - $' + (job.salaryMax || 'N/A') + '\\n'\n  + '## Job Description:\\n' + (job.description || '').substring(0, 2000) + '\\n'\n  + '## Requirements:\\n' + (job.requirements || '').substring(0, 1000) + '\\n'\n  + '---\\nReturn ONLY this JSON (no markdown, no backticks):\\n'\n  + '{\"matchScore\":<0-100>,\"reasoning\":\"<2-3 sentences>\",\"skillsMatched\":[\"skill\"],\"skillsMissing\":[\"skill\"],\"salaryMatch\":<bool>,\"locationMatch\":<bool>,\"recommendation\":\"<apply|consider|skip>\"}';\n\nreturn [{ json: { ...job, requestBody: { model: 'llama-3.1-8b-instant', messages: [{ role: 'user', content: prompt }], temperature: 0.3, max_tokens: 500 } } }];"
      },
      "id": "e27e6a37-e2b7-4f6f-837d-ae3494cf92f2",
      "name": "Build Groq Prompt1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14032,
        1744
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e8fab237-03a3-4ba1-a47f-a6265eba9dda",
      "name": "Groq AI Score1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13808,
        1744
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "V3yn87MiL2SlyEdV",
          "name": "match"
        },
        "groqApi": {
          "id": "0iOcTeuO4MPAaXgw",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "183a3e0d-7e33-4dc7-817a-1e2384874e0f",
      "name": "Groq AI Research1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -13136,
        2672
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7PAJYYTPTepr9gwv",
          "name": "Match"
        },
        "groqApi": {
          "id": "0iOcTeuO4MPAaXgw",
          "name": "match"
        }
      },
      "continueOnFail": true,
      "notes": "Same Gemini credential as other Match workflows"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tailor-resume",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "tr-01-webhook",
      "name": "Webhook · Tailor Resume",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -15600,
        2256
      ],
      "webhookId": "tailor-resume-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_MATCH_WEBHOOK_SECRET_CREDENTIAL_ID",
          "name": "Match Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst user_id = body.user_id;\nconst job_id = body.job_id;\nconst preserve_format = body.preserve_format === true;\nconst resume_fetch_url = body.resume_fetch_url || null;\n\nif (!user_id || !job_id) {\n  throw new Error('Missing required fields: user_id and job_id are required');\n}\nif (isNaN(parseInt(job_id))) {\n  throw new Error('job_id must be a valid integer');\n}\n\nreturn [{\n  json: {\n    user_id: String(user_id),\n    job_id: parseInt(job_id),\n    preserve_format,\n    resume_fetch_url,\n  }\n}];"
      },
      "id": "tr-02-validate",
      "name": "Validate Tailor Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15376,
        2256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-fetch-url",
              "leftValue": "={{ $json.resume_fetch_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tr-03-iffetch",
      "name": "Has Resume URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -15152,
        2256
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.resume_fetch_url }}?format=json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "tr-04-fetch",
      "name": "Fetch Original Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -14928,
        2160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_MATCH_WEBHOOK_SECRET_CREDENTIAL_ID",
          "name": "Match Webhook Secret"
        }
      },
      "continueOnFail": true,
      "notes": "Calls Next.js /api/internal/resume/[userId]?format=json with x-webhook-secret header (via Header Auth credential). Continue On Fail so DOCX/unknown errors fall through to the legacy path."
    },
    {
      "parameters": {
        "jsCode": "const fetched = $input.first().json || {};\nconst validated = $('Validate Tailor Request').first().json;\n\nconst base64 = fetched.data_base64 || '';\nconst contentType = fetched.content_type || '';\nconst fileName = fetched.file_name || 'resume';\n\nlet quickText = '';\nif (base64 && contentType.startsWith('text/')) {\n  quickText = Buffer.from(base64, 'base64').toString('utf-8');\n}\n\nreturn [{\n  json: {\n    ...validated,\n    original_file_name: fileName,\n    original_content_type: contentType,\n    original_size: fetched.size || 0,\n    original_text: quickText,\n    has_original_bytes: !!base64,\n  },\n  binary: base64 ? {\n    data: {\n      data: base64,\n      mimeType: contentType || 'application/octet-stream',\n      fileName,\n    }\n  } : undefined,\n}];"
      },
      "id": "tr-05-decode",
      "name": "Decode Resume Bytes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14704,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "tr-06-extract",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -14480,
        2160
      ],
      "continueOnFail": true,
      "notes": "PDF text extraction. Continue On Fail handles DOCX/unsupported gracefully — Merge Resume Text Back falls back to upstream text."
    },
    {
      "parameters": {
        "jsCode": "const upstream = $('Decode Resume Bytes').first().json;\nconst extracted = $input.first().json || {};\nconst text = (extracted.text || upstream.original_text || '').slice(0, 12000);\n\nreturn [{\n  json: {\n    ...upstream,\n    original_text: text,\n  }\n}];"
      },
      "id": "tr-07-mergetext",
      "name": "Attach Resume Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14256,
        2160
      ]
    },
    {
      "parameters": {
        "jsCode": "// No fetch URL provided — pass validated input through with empty resume text.\nconst validated = $input.first().json;\nreturn [{\n  json: {\n    ...validated,\n    original_text: '',\n    has_original_bytes: false,\n    original_content_type: null,\n    original_file_name: null,\n    original_size: 0,\n  }\n}];"
      },
      "id": "tr-08-skipfetch",
      "name": "Skip Resume Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14928,
        2352
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "tr-09-mergefetch",
      "name": "Resume Fetch Done",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -14032,
        2256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  up.id AS profile_id,\n  up.user_id,\n  u.email,\n  u.full_name,\n  u.location AS user_location,\n  u.phone,\n  up.base_resume_url,\n  up.skills,\n  up.experience_years,\n  up.job_titles,\n  up.industries,\n  up.min_salary,\n  up.max_salary,\n  up.preferred_locations,\n  up.work_type\nFROM user_profiles up\nJOIN users u ON up.user_id = u.id\nWHERE up.user_id = $1\n  AND up.status = 'active'\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.user_id] }}"
        }
      },
      "id": "tr-10-getprofile",
      "name": "Get User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -13808,
        2160
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  j.id,\n  j.title,\n  j.company_name,\n  j.company_url,\n  j.location,\n  j.work_type,\n  j.employment_type,\n  j.salary_min,\n  j.salary_max,\n  j.description,\n  j.requirements,\n  j.source_url,\n  j.posted_date\nFROM jobs j\nWHERE j.id = $1\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.job_id] }}"
        }
      },
      "id": "tr-11-getjob",
      "name": "Get Job Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -13808,
        2352
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "tr-12-mergepj",
      "name": "Merge Profile + Job",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -13584,
        2256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst merged = items[0]?.json;\nconst resumeCtx = $('Attach Resume Text').first()?.json || $('Skip Resume Fetch').first()?.json || {};\n\nif (!merged || !merged.user_id) {\n  throw new Error('No active profile found for user_id');\n}\nif (!merged.id) {\n  throw new Error('No job found for job_id');\n}\n\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') {\n    try { return JSON.parse(field); }\n    catch (e) { return field.split(',').map(i => i.trim()).filter(Boolean); }\n  }\n  return [];\n}\n\nreturn [{\n  json: {\n    user_id: merged.user_id,\n    job_id: merged.id,\n    profile_id: merged.profile_id,\n    email: merged.email,\n    full_name: merged.full_name || 'Candidate',\n    user_location: merged.user_location || '',\n    phone: merged.phone || '',\n    base_resume_url: merged.base_resume_url || null,\n    skills: safeJSONParse(merged.skills),\n    experience_years: merged.experience_years || 0,\n    job_titles: safeJSONParse(merged.job_titles),\n    industries: safeJSONParse(merged.industries),\n    min_salary: merged.min_salary || 0,\n    max_salary: merged.max_salary || 0,\n    preferred_locations: safeJSONParse(merged.preferred_locations),\n    work_type: merged.work_type || 'any',\n    job_title: merged.title,\n    company_name: merged.company_name,\n    company_url: merged.company_url || '',\n    job_location: merged.location || 'Remote',\n    job_work_type: merged.work_type || 'remote',\n    employment_type: merged.employment_type || 'full-time',\n    salary_min: merged.salary_min || null,\n    salary_max: merged.salary_max || null,\n    job_description: (merged.description || '').substring(0, 4000),\n    job_requirements: (merged.requirements || '').substring(0, 2000),\n    source_url: merged.source_url || '',\n    preserve_format: resumeCtx.preserve_format === true,\n    original_text: resumeCtx.original_text || '',\n    original_content_type: resumeCtx.original_content_type || null,\n    original_file_name: resumeCtx.original_file_name || null,\n  }\n}];"
      },
      "id": "tr-13-combine",
      "name": "Build Tailor Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13360,
        2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst skills = Array.isArray(data.skills) ? data.skills : [];\nconst jobTitles = Array.isArray(data.job_titles) ? data.job_titles : [];\nconst industries = Array.isArray(data.industries) ? data.industries : [];\n\nconst originalResume = (data.original_text || '').slice(0, 8000);\nconst preserveFormat = data.preserve_format === true && originalResume.length > 200;\n\nconst preservePrompt = `You are an expert resume writer. Below is the candidate's CURRENT resume. Tailor it for the target job.\\n\\nRULES:\\n- Preserve the ORIGINAL structure, section order, headings, dates, company names, and overall visual layout.\\n- Rewrite ONLY the prose (summary, bullets, descriptions) to emphasise fit for the target job.\\n- Do NOT add new sections, banners ('Tailored for…'), or ATS keyword pills that weren't in the original.\\n- Output a complete, standalone HTML document with inline styles only.\\n- Keep the candidate's real employment history; do not invent companies or dates.\\n\\nReturn ONLY valid JSON, no markdown, no backticks:\\n{\\n  \\\"resume_html\\\": \\\"<!doctype html>… full tailored resume …\\\",\\n  \\\"professional_summary\\\": \\\"<the tailored summary you wrote>\\\",\\n  \\\"tailoring_notes\\\": \\\"<1-2 sentence note on what you changed>\\\"\\n}\\n\\n## Target Job\\n- Title: ${data.job_title}\\n- Company: ${data.company_name}\\n- Location: ${data.job_location}\\n- Description: ${(data.job_description || '').slice(0, 2500)}\\n- Requirements: ${(data.job_requirements || '').slice(0, 1500)}\\n\\n## Candidate's Current Resume (verbatim — preserve this structure)\\n${originalResume}`;\n\nconst legacyPrompt = `You are an expert resume writer and career coach. Tailor this candidate's resume for the job below. Return ONLY a valid JSON object, no markdown, no backticks.\\n\\n## Candidate Profile:\\n- Full Name: ${data.full_name}\\n- Current/Previous Job Titles: ${jobTitles.join(', ') || 'Not specified'}\\n- Total Experience: ${data.experience_years || 0} years\\n- Skills: ${skills.join(', ') || 'Not specified'}\\n- Industries: ${industries.length ? industries.join(', ') : 'General'}\\n- Salary Range: ${data.min_salary ? '$' + data.min_salary : 'Flexible'} - ${data.max_salary ? '$' + data.max_salary : 'Open'}\\n- Work Preference: ${data.work_type || 'Any'}\\n- Location: ${data.user_location || 'Philippines'}\\n\\n## Target Job:\\n- Title: ${data.job_title}\\n- Company: ${data.company_name}\\n- Location: ${data.job_location}\\n- Work Type: ${data.job_work_type}\\n- Employment: ${data.employment_type}\\n\\n## Job Description:\\n${(data.job_description || '').slice(0, 2500)}\\n\\n## Job Requirements:\\n${(data.job_requirements || '').slice(0, 1500)}\\n\\nReturn ONLY this JSON:\\n{\\n  \\\"professional_summary\\\": \\\"<3-4 sentence tailored summary>\\\",\\n  \\\"core_skills\\\": [\\\"skill1\\\", \\\"skill2\\\", \\\"skill3\\\"],\\n  \\\"experience_bullets\\\": [\\\"<bullet 1>\\\", \\\"<bullet 2>\\\", \\\"<bullet 3>\\\", \\\"<bullet 4>\\\", \\\"<bullet 5>\\\", \\\"<bullet 6>\\\"],\\n  \\\"education_highlight\\\": \\\"<Relevant education or certifications>\\\",\\n  \\\"keywords\\\": [\\\"keyword1\\\", \\\"keyword2\\\", \\\"keyword3\\\"],\\n  \\\"tailoring_notes\\\": \\\"<Brief note on how this resume was tailored>\\\"\\n}`;\n\nconst prompt = preserveFormat ? preservePrompt : legacyPrompt;\n\nreturn [{\n  json: {\n    ...data,\n    preserve_format: preserveFormat,\n    requestBody: {\n      model: 'llama-3.1-8b-instant',\n      messages: [{ role: 'user', content: prompt }],\n      temperature: 0.3,\n      max_tokens: preserveFormat ? 4000 : 1500,\n    }\n  }\n}];"
      },
      "id": "tr-14-prompt",
      "name": "Build Tailor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13136,
        2256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "tr-15-groq",
      "name": "Groq · Tailor Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -12912,
        2256
      ],
      "credentials": {
        "groqApi": {
          "id": "0iOcTeuO4MPAaXgw",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst prevData = $('Build Tailor Prompt').first().json;\n\nif (groqResponse.error) {\n  throw new Error('Groq API error: ' + (groqResponse.error.message || JSON.stringify(groqResponse.error)));\n}\n\nlet rawText = '';\ntry { rawText = groqResponse.choices[0].message.content; }\ncatch (e) { throw new Error('Failed to extract Groq response: ' + e.message); }\n\nconst cleanText = rawText.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nlet parsed;\ntry { parsed = JSON.parse(cleanText); }\ncatch (e) { throw new Error('Failed to parse JSON: ' + e.message + ' | Raw: ' + cleanText.substring(0, 300)); }\n\nconst isPreserveFormat = prevData.preserve_format === true && typeof parsed.resume_html === 'string' && parsed.resume_html.length > 200;\n\nif (isPreserveFormat) {\n  return [{\n    json: {\n      ...prevData,\n      resume_html: parsed.resume_html,\n      professional_summary: parsed.professional_summary || '',\n      tailoring_notes: parsed.tailoring_notes || '',\n      core_skills: [],\n      experience_bullets: [],\n      education_highlight: '',\n      keywords: [],\n      ai_returned_html: true,\n    }\n  }];\n}\n\nfor (const f of ['core_skills', 'experience_bullets', 'keywords']) {\n  if (!Array.isArray(parsed[f])) parsed[f] = [];\n}\nreturn [{\n  json: {\n    ...prevData,\n    professional_summary: parsed.professional_summary || '',\n    core_skills: parsed.core_skills,\n    experience_bullets: parsed.experience_bullets,\n    education_highlight: parsed.education_highlight || '',\n    keywords: parsed.keywords,\n    tailoring_notes: parsed.tailoring_notes || '',\n    ai_returned_html: false,\n  }\n}];"
      },
      "id": "tr-16-parseai",
      "name": "Parse Tailor Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12688,
        2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Preserve-format path: AI already produced full HTML — pass through.\nif (data.ai_returned_html === true && typeof data.resume_html === 'string' && data.resume_html.length > 200) {\n  return [{ json: data }];\n}\n\n// Legacy structured-fields fallback — render the generic template.\nconst skills = Array.isArray(data.core_skills) ? data.core_skills : [];\nconst bullets = Array.isArray(data.experience_bullets) ? data.experience_bullets : [];\nconst keywords = Array.isArray(data.keywords) ? data.keywords : [];\nconst todayStr = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst e = (str) => (str || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst skillsHtml = skills.map(s => `<span class=\"skill-tag\">${e(s)}</span>`).join('');\nconst bulletsHtml = bullets.map(b => `<li>${e(b)}</li>`).join('');\nconst keywordsHtml = keywords.map(k => `<span class=\"kw-tag\">${e(k)}</span>`).join('');\n\nconst html = `<!DOCTYPE html>\\n<html lang=\"en\">\\n<head>\\n<meta charset=\"UTF-8\">\\n<title>Resume - ${e(data.full_name)}</title>\\n<style>\\n* { margin:0; padding:0; box-sizing:border-box; }\\nbody { font-family: Arial, sans-serif; font-size: 10pt; color: #1a1a1a; padding: 32px 40px; max-width: 800px; margin: 0 auto; }\\n.header { border-bottom: 3px solid #2563eb; padding-bottom: 14px; margin-bottom: 18px; }\\n.header h1 { font-size: 22pt; font-weight: 700; color: #1e3a5f; }\\n.contact { margin-top: 5px; color: #4b5563; font-size: 9pt; }\\n.contact span { margin-right: 14px; }\\nsection { margin-bottom: 18px; }\\n.stitle { font-size: 9pt; font-weight: 700; color: #1e3a5f; text-transform: uppercase; letter-spacing: 1px; border-bottom: 1px solid #e5e7eb; padding-bottom: 3px; margin-bottom: 8px; }\\n.summary { line-height: 1.6; color: #374151; }\\n.skills { display: flex; flex-wrap: wrap; gap: 5px; }\\n.skill-tag { background: #dbeafe; color: #1e40af; padding: 3px 9px; border-radius: 10px; font-size: 8.5pt; font-weight: 500; }\\nul.bullets { padding-left: 16px; }\\nul.bullets li { margin-bottom: 5px; line-height: 1.5; color: #374151; }\\n.edu { color: #374151; line-height: 1.6; }\\n.kws { display: flex; flex-wrap: wrap; gap: 4px; }\\n.kw-tag { background: #f0fdf4; color: #166534; border: 1px solid #bbf7d0; padding: 2px 7px; border-radius: 4px; font-size: 8pt; }\\n.footer { margin-top: 20px; border-top: 1px solid #e5e7eb; padding-top: 8px; text-align: center; color: #9ca3af; font-size: 7.5pt; }\\n</style>\\n</head>\\n<body>\\n<div class=\"header\">\\n  <h1>${e(data.full_name || 'Candidate')}</h1>\\n  <div class=\"contact\">\\n    ${data.email ? `<span>&#9993; ${e(data.email)}</span>` : ''}\\n    ${data.phone ? `<span>&#9742; ${e(data.phone)}</span>` : ''}\\n    ${data.user_location ? `<span>&#128205; ${e(data.user_location)}</span>` : ''}\\n  </div>\\n</div>\\n<section>\\n  <div class=\"stitle\">Professional Summary</div>\\n  <p class=\"summary\">${e(data.professional_summary)}</p>\\n</section>\\n<section>\\n  <div class=\"stitle\">Core Skills</div>\\n  <div class=\"skills\">${skillsHtml}</div>\\n</section>\\n<section>\\n  <div class=\"stitle\">Key Experience &amp; Achievements</div>\\n  <ul class=\"bullets\">${bulletsHtml}</ul>\\n</section>\\n<section>\\n  <div class=\"stitle\">Education &amp; Certifications</div>\\n  <p class=\"edu\">${e(data.education_highlight || 'Details available upon request.')}</p>\\n</section>\\n<section>\\n  <div class=\"stitle\">ATS Keywords</div>\\n  <div class=\"kws\">${keywordsHtml}</div>\\n</section>\\n<div class=\"footer\">Resume tailored by Match AI &bull; ${todayStr}</div>\\n</body>\\n</html>`;\n\nreturn [{ json: { ...data, resume_html: html } }];"
      },
      "id": "tr-17-renderhtml",
      "name": "Render Resume HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12464,
        2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst timestamp = Date.now();\nconst filename = `resume_${data.user_id}_${data.job_id}_${timestamp}.pdf`;\n\nreturn [{\n  json: {\n    ...data,\n    pdf_filename: filename,\n    storage_path: `resumes/${data.user_id}/${filename}`,\n    timestamp,\n  }\n}];"
      },
      "id": "tr-18-prepmeta",
      "name": "Prepare Resume Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12240,
        2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    r1: String(d.user_id || ''),\n    r2: Number(d.job_id) || 0,\n    r3: String(d.storage_path || ''),\n    r4: String(d.storage_path || ''),\n    r5: String(d.pdf_filename || ''),\n    r6: String(d.professional_summary || ''),\n    r7: String(d.tailoring_notes || ''),\n    r8: String(d.resume_html || ''),\n  }\n}];"
      },
      "id": "tr-19-flatten",
      "name": "Map Insert Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12016,
        2256
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tailored_resumes",
          "mode": "list",
          "cachedResultName": "tailored_resumes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.r1 }}"
            },
            {
              "column": "job_id",
              "value": "={{ $json.r2 }}"
            },
            {
              "column": "resume_url",
              "value": "={{ $json.r3 }}"
            },
            {
              "column": "storage_path",
              "value": "={{ $json.r4 }}"
            },
            {
              "column": "pdf_filename",
              "value": "={{ $json.r5 }}"
            },
            {
              "column": "professional_summary",
              "value": "={{ $json.r6 }}"
            },
            {
              "column": "tailoring_notes",
              "value": "={{ $json.r7 }}"
            },
            {
              "column": "html_content",
              "value": "={{ $json.r8 }}"
            },
            {
              "column": "version",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "tr-20-insertresume",
      "name": "Insert Tailored Resume",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -11792,
        2256
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const insertResult = $input.first().json;\nconst pdfData = $('Prepare Resume Metadata').first().json;\n\nreturn [{\n  json: {\n    resume_id: insertResult.id || 0,\n    version: insertResult.version || 1,\n    user_id: pdfData.profile_id,\n    job_id: pdfData.job_id,\n    job_title: pdfData.job_title,\n    company_name: pdfData.company_name,\n  }\n}];"
      },
      "id": "tr-21-preplog",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11568,
        2256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activity_log (user_id, action, entity_type, entity_id, metadata)\nVALUES (\n  $1,\n  'resume_tailored',\n  'tailored_resume',\n  $2,\n  jsonb_build_object('job_id', $3, 'job_title', $4, 'company', $5, 'version', $6)\n);",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.resume_id, $json.job_id, $json.job_title, $json.company_name, $json.version] }}"
        }
      },
      "id": "tr-22-logactivity",
      "name": "Log Resume Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -11344,
        2256
      ],
      "credentials": {
        "postgres": {
          "id": "Ge4tpOBRkjBQJS38",
          "name": "match"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger3": {
      "main": [
        [
          {
            "node": "Validate Input2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input2": {
      "main": [
        [
          {
            "node": "Route by Input Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Application + Job (by app_id)1": {
      "main": [
        [
          {
            "node": "Prepare Company Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job (by job_id)1": {
      "main": [
        [
          {
            "node": "Prepare Company Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Input Type1": {
      "main": [
        [
          {
            "node": "Get Application + Job (by app_id)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Job (by job_id)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data1": {
      "main": [
        [
          {
            "node": "Has Company Website?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company Website?1": {
      "main": [
        [
          {
            "node": "Scrape Company Website1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Website - Pass Through1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Website1": {
      "main": [
        [
          {
            "node": "Parse Website HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Website HTML1": {
      "main": [
        [
          {
            "node": "Fetch Recent News1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Website - Pass Through1": {
      "main": [
        [
          {
            "node": "Fetch Recent News1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent News1": {
      "main": [
        [
          {
            "node": "Parse News Articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse News Articles1": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt2": {
      "main": [
        [
          {
            "node": "Groq AI Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response3": {
      "main": [
        [
          {
            "node": "Render Research HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Research HTML1": {
      "main": [
        [
          {
            "node": "HTML to PDF (PDFShift)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF (PDFShift)2": {
      "main": [
        [
          {
            "node": "Prepare Save Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Save Metadata1": {
      "main": [
        [
          {
            "node": "Save Research to DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Research to DB1": {
      "main": [
        [
          {
            "node": "Log Activity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Activity1": {
      "main": [
        [
          {
            "node": "Send Research Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Research Email1": {
      "main": [
        []
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Create Application",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Update Status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update Status?": {
      "main": [
        [
          {
            "node": "Update Application Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Application": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Application Status": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Log Application Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Application Event": {
      "main": [
        [
          {
            "node": "Fetch Full Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Application": {
      "main": [
        [
          {
            "node": "Has Interview Scheduled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Interview Scheduled?": {
      "main": [
        [
          {
            "node": "Send Interview Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Status Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Interview Confirmation Email": {
      "main": [
        []
      ]
    },
    "Send Status Update Email": {
      "main": [
        []
      ]
    },
    "Webhook Trigger2": {
      "main": [
        [
          {
            "node": "Validate Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input1": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Response Received": {
      "main": [
        [
          {
            "node": "Validate Response Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Response Input": {
      "main": [
        [
          {
            "node": "Prepare Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow-up Log": {
      "main": [
        [
          {
            "node": "Was Replied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Replied?": {
      "main": [
        [
          {
            "node": "Advance Status on Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Response Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Status on Reply": {
      "main": [
        [
          {
            "node": "Merge Response Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Response Rate": {
      "main": [
        [
          {
            "node": "Merge Response Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Response Paths": {
      "main": [
        []
      ]
    },
    "Prepare Response Data": {
      "main": [
        [
          {
            "node": "Update Follow-up Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Application + Profile": {
      "main": [
        [
          {
            "node": "Prepare Prep Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prep Data": {
      "main": [
        [
          {
            "node": "Has LinkedIn URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has LinkedIn URL?": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No LinkedIn - Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Parse LinkedIn HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn HTML": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No LinkedIn - Pass Through": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Interview Prep": {
      "main": [
        [
          {
            "node": "Parse AI Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Prep HTML": {
      "main": [
        [
          {
            "node": "HTML to PDF (PDFShift)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Save Metadata": {
      "main": [
        [
          {
            "node": "Save Prep to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Prep to DB": {
      "main": [
        [
          {
            "node": "Send Prep Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prep Email": {
      "main": [
        []
      ]
    },
    "Webhook Trigger4": {
      "main": [
        [
          {
            "node": "Validate Input3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input3": {
      "main": [
        [
          {
            "node": "Fetch Application + Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt1": {
      "main": [
        [
          {
            "node": "Gemini AI Interview Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response2": {
      "main": [
        [
          {
            "node": "Render Prep HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF (PDFShift)1": {
      "main": [
        [
          {
            "node": "Prepare Save Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User ID": {
      "main": [
        [
          {
            "node": "Get User Profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job List": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "No Jobs - Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Each Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Prompt": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Groq AI Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Score": {
      "main": [
        [
          {
            "node": "Parse AI Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Score >= 70?": {
      "main": [
        [
          {
            "node": "Insert High Match1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Low Match1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger5": {
      "main": [
        [
          {
            "node": "Extract User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile1": {
      "main": [
        [
          {
            "node": "Prepare User Profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Profile1": {
      "main": [
        [
          {
            "node": "Get Unmatched Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unmatched Jobs1": {
      "main": [
        [
          {
            "node": "Prepare Job List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Job1": {
      "main": [
        [],
        [
          {
            "node": "Build Groq Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response4": {
      "main": [
        [
          {
            "node": "Match Score >= 70?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert High Match1": {
      "main": [
        [
          {
            "node": "Send Match Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Match Email1": {
      "main": [
        [
          {
            "node": "Loop Each Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Low Match1": {
      "main": [
        [
          {
            "node": "Loop Each Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Active User Profiles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active User Profiles1": {
      "main": [
        [
          {
            "node": "Create API URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create API URLs": {
      "main": [
        [
          {
            "node": "Loop Through APIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through APIs": {
      "main": [
        [
          {
            "node": "Count Jobs Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Seconds": {
      "main": [
        [
          {
            "node": "Route by API Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by API Type": {
      "main": [
        [
          {
            "node": "HTTP Request - JSearch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Free API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - JSearch": {
      "main": [
        [
          {
            "node": "Parse Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Free API": {
      "main": [
        [
          {
            "node": "Parse Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobs": {
      "main": [
        [
          {
            "node": "Insert Job in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Job in DB1": {
      "main": [
        [
          {
            "node": "Batch Done (Scrape)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Done (Scrape)": {
      "main": [
        [
          {
            "node": "Loop Through APIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Jobs Stats": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get User Profile2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Profile": {
      "main": [
        [
          {
            "node": "Get New Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Jobs": {
      "main": [
        [
          {
            "node": "Combine User + Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine User + Jobs": {
      "main": [
        [
          {
            "node": "Loop Each Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Job": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Build Groq Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Match Score > 70?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Score > 70?": {
      "main": [
        [
          {
            "node": "Flatten High Match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flatten Low Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten High Match": {
      "main": [
        [
          {
            "node": "Insert High Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert High Match": {
      "main": [
        [
          {
            "node": "Batch Done (Match)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Low Match": {
      "main": [
        [
          {
            "node": "Insert Low Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Low Match": {
      "main": [
        [
          {
            "node": "Batch Done (Match)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Done (Match)": {
      "main": [
        [
          {
            "node": "Loop Each Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Get Match Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Match Stats": {
      "main": [
        [
          {
            "node": "Send Match Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile2": {
      "main": [
        [
          {
            "node": "Prepare User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Prompt1": {
      "main": [
        [
          {
            "node": "Groq AI Score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Score1": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Research1": {
      "main": [
        [
          {
            "node": "Parse AI Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook · Tailor Resume": {
      "main": [
        [
          {
            "node": "Validate Tailor Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tailor Request": {
      "main": [
        [
          {
            "node": "Has Resume URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Resume URL?": {
      "main": [
        [
          {
            "node": "Fetch Original Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Resume Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Original Resume": {
      "main": [
        [
          {
            "node": "Decode Resume Bytes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Resume Bytes": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Attach Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Resume Text": {
      "main": [
        [
          {
            "node": "Resume Fetch Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Resume Fetch": {
      "main": [
        [
          {
            "node": "Resume Fetch Done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Resume Fetch Done": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Job Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Merge Profile + Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Details": {
      "main": [
        [
          {
            "node": "Merge Profile + Job",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Profile + Job": {
      "main": [
        [
          {
            "node": "Build Tailor Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailor Context": {
      "main": [
        [
          {
            "node": "Build Tailor Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailor Prompt": {
      "main": [
        [
          {
            "node": "Groq · Tailor Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq · Tailor Resume": {
      "main": [
        [
          {
            "node": "Parse Tailor Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tailor Response": {
      "main": [
        [
          {
            "node": "Render Resume HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Resume HTML": {
      "main": [
        [
          {
            "node": "Prepare Resume Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume Metadata": {
      "main": [
        [
          {
            "node": "Map Insert Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Insert Columns": {
      "main": [
        [
          {
            "node": "Insert Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tailored Resume": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log Resume Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Resume Activity": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6f9fe283-deca-4cbc-8690-ec3fd99f0283",
  "meta": {
    "instanceId": "1a96eb8755e00196cfeb8ee9d8f936cb8aadca57c44f2342559d3e021fd37190"
  },
  "id": "AZUYvjyjhd9o99jI",
  "tags": []
}
