components/MatchFixed.json
{
  "name": "Match",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "id": "2dbb1d17-6bfa-4a8c-bffa-0685cbff08e4",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-14448, 272]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.id, up.user_id, u.email, up.skills, up.job_titles, up.preferred_locations, up.min_salary, up.max_salary, up.work_type, up.status FROM user_profiles up JOIN users u ON up.user_id = u.id WHERE up.status = 'active' LIMIT 1",
        "options": {}
      },
      "id": "37ef3e21-f052-4633-a30c-e07c1f077cb8",
      "name": "Get Active User Profiles1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-14224, 272],
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get Active User Profiles1').first().json;\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') {\n    try { return JSON.parse(field); } catch (e) { return field.split(',').map(item => item.trim()).filter(Boolean); }\n  }\n  return [];\n}\nconst jobTitles = safeJSONParse(profile.job_titles);\nconst locations = safeJSONParse(profile.preferred_locations);\nconst topJobTitles = jobTitles.slice(0, 2);\nconst topLocations = locations.slice(0, 2);\nconst hasPhilippines = topLocations.some(loc => loc.toLowerCase().includes('philippines') || loc.toLowerCase().includes('manila') || loc.toLowerCase().includes('taguig') || loc.toLowerCase().includes('bgc') || loc.toLowerCase().includes('makati') || loc.toLowerCase().includes('quezon'));\nconst apiCalls = [];\ntopJobTitles.forEach(jobTitle => {\n  if (hasPhilippines) apiCalls.push({ source: 'jsearch', url: 'https://jsearch.p.rapidapi.com/search', query: `${jobTitle} Philippines`, jobTitle, location: 'Philippines', requiresRapidAPI: true, isRSS: false });\n  apiCalls.push({ source: 'jsearch', url: 'https://jsearch.p.rapidapi.com/search', query: `${jobTitle} Remote`, jobTitle, location: 'Remote', requiresRapidAPI: true, isRSS: false });\n});\napiCalls.push({ source: 'remotive_rss', url: 'https://remotive.com/remote-jobs/software-dev.rss', query: 'Remote Software Dev', jobTitle: 'Software Developer', location: 'Remote', requiresRapidAPI: false, isRSS: true });\napiCalls.push({ source: 'weworkremotely_rss', url: 'https://weworkremotely.com/categories/remote-programming-jobs.rss', query: 'Remote Programming', jobTitle: 'Programmer', location: 'Remote', requiresRapidAPI: false, isRSS: true });\nreturn apiCalls.map(api => ({ json: { ...api, user_id: profile.user_id, email: profile.email } }));"
      },
      "id": "277059ee-a08b-461c-b9cc-4ef5a0e9fdc7",
      "name": "Create API URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-14000, 272]
    },
    {
      "parameters": { "options": { "reset": false } },
      "id": "bd4c3050-e34b-48c5-ae17-835bc4eb0648",
      "name": "Loop Through APIs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-13776, 272]
    },
    {
      "parameters": { "unit": "seconds", "amount": 3 },
      "id": "a2bedd1b-3ae8-4148-8d2b-505caa198256",
      "name": "Wait 3 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-13552, 80],
      "webhookId": "7363013c-bcef-45bc-b727-0fa43c2bb990"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "requires-rapidapi", "leftValue": "={{ $json.requiresRapidAPI }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cd390814-bbd2-418e-8eb8-0edd70cef3e6",
      "name": "Route by API Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-13328, 80]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "query", "value": "={{ $json.query }}" }, { "name": "page", "value": "1" }, { "name": "num_pages", "value": "1" }, { "name": "date_posted", "value": "week" }] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-rapidapi-host", "value": "jsearch.p.rapidapi.com" }] },
        "options": { "timeout": 30000 }
      },
      "id": "9c16c651-1df6-462b-9938-9bdd6aa49084",
      "name": "HTTP Request - JSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-13104, -16],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": { "httpHeaderAuth": { "id": "F14dvMJI3CZNOYtk", "name": "RapidAPI - match" } }
    },
    {
      "parameters": { "url": "={{ $json.url }}", "options": { "timeout": 30000 } },
      "id": "216a1998-5cf1-49aa-a753-17724be71b61",
      "name": "HTTP Request - Free API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-13104, 176],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst jobs = [];\nfor (const item of items) {\n  const data = item.json;\n  if (data.data && Array.isArray(data.data)) {\n    data.data.forEach(j => jobs.push({ external_id: `jsearch-${j.job_id}`, source: 'jsearch', source_url: j.job_apply_link || j.job_google_link || '', title: j.job_title || '', company_name: j.employer_name || '', company_url: j.employer_website || null, location: j.job_city ? `${j.job_city}, ${j.job_country}` : j.job_country || 'Remote', work_type: j.job_is_remote ? 'remote' : 'onsite', employment_type: j.job_employment_type || 'full-time', description: (j.job_description || '').substring(0, 5000), requirements: (j.job_highlights?.Qualifications?.join('\\n') || '').substring(0, 2000), posted_date: j.job_posted_at_datetime_utc || new Date().toISOString(), salary_min: j.job_min_salary || null, salary_max: j.job_max_salary || null, scraped_at: new Date().toISOString(), status: 'active' }));\n  } else if (data.title && data.link) {\n    const stripHtml = (html) => { if (!html) return ''; return html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 5000); };\n    const extractCompany = (text) => { if (!text) return 'Unknown'; const m = text.match(/\\sat\\s+([A-Z][\\w\\s&.,()-]+?)(?:\\s+-|\\s+in|\\s+\\||$)/i); return m ? m[1].trim() : 'Unknown'; };\n    jobs.push({ external_id: data.link.split('/').pop()?.substring(0, 255) || data.link.substring(0, 255), source: data.link.includes('remotive') ? 'remotive' : data.link.includes('weworkremotely') ? 'weworkremotely' : 'rss', source_url: data.link, title: (data.title || '').substring(0, 500), company_name: extractCompany(data.title || '').substring(0, 255), company_url: null, location: 'Remote', work_type: 'remote', employment_type: 'full-time', description: stripHtml(data.description || ''), requirements: '', posted_date: data.pubDate || new Date().toISOString(), salary_min: null, salary_max: null, scraped_at: new Date().toISOString(), status: 'active' });\n  }\n}\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "35bd783f-6167-4439-b9be-78fb43047f74",
      "name": "Parse Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-12880, 80],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (external_id, source, source_url, title, company_name, company_url, location, work_type, employment_type, description, requirements, posted_date, salary_min, salary_max, scraped_at, status) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12::timestamptz, $13::numeric, $14::numeric, $15::timestamptz, 'active') ON CONFLICT (external_id) DO UPDATE SET title = EXCLUDED.title, description = EXCLUDED.description, updated_at = CURRENT_TIMESTAMP RETURNING id;",
        "options": { "queryReplacement": "={{ [$json.external_id, $json.source, $json.source_url, $json.title, $json.company_name, $json.company_url || null, $json.location, $json.work_type, $json.employment_type, $json.description, $json.requirements, $json.posted_date, $json.salary_min || null, $json.salary_max || null, $json.scraped_at] }}" }
      },
      "id": "ec5f5078-9e79-4c20-aac1-65900965744e",
      "name": "Insert Job in DB1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-12656, 80],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_jobs, COUNT(CASE WHEN created_at > NOW() - INTERVAL '1 day' THEN 1 END) AS new_jobs FROM jobs;",
        "options": {}
      },
      "id": "e6bed5ad-54e9-45d0-a5a4-e128f9bec64b",
      "name": "Count Jobs Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-13552, 272],
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Active User Profiles1').item.json.email }}",
        "subject": "=Match: {{ $json.new_jobs }} New Jobs Found!",
        "emailType": "text",
        "message": "=Hello!\n\n✅ Daily job scraping complete!\n\n📊 Summary\n- New jobs (last 24h): {{ $json.new_jobs }}\n- Total jobs in database: {{ $json.total_jobs }}\n\nBest,\nMatch 🚀",
        "options": {}
      },
      "id": "c8e82f7c-f205-4314-98ab-a0e8a1da514b",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-13328, 272],
      "credentials": { "gmailOAuth2": { "id": "0oJaMkFU0pERnlCH", "name": "match" } }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-job",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "63bd76d3-70b4-4ab2-8cdc-93972869b3a8",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-14448, 576],
      "webhookId": "match-jobs-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.id AS profile_id, up.user_id, u.email, u.full_name, up.skills, up.experience_years, up.job_titles, up.industries, up.min_salary, up.max_salary, up.preferred_locations, up.work_type FROM user_profiles up JOIN users u ON up.user_id = u.id WHERE up.status = 'active' AND up.user_id = $1 LIMIT 1",
        "options": { "queryReplacement": "={{ [$json.body?.user_id ?? $json.user_id] }}" }
      },
      "id": "7fd46af5-c5e6-4dcc-a058-1b32b768bb51",
      "name": "Get User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-14224, 576],
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nif (!user || !user.user_id) throw new Error('No active profile found.');\nfunction safeJSONParse(field) {\n  if (!field) return [];\n  if (Array.isArray(field)) return field;\n  if (typeof field === 'string') { try { return JSON.parse(field); } catch (e) { return field.split(',').map(i => i.trim()).filter(Boolean); } }\n  return [];\n}\nreturn [{ json: { user_id: user.user_id, profile_id: user.profile_id, email: user.email, full_name: user.full_name || 'User', skills: safeJSONParse(user.skills), experience_years: user.experience_years || 0, job_titles: safeJSONParse(user.job_titles), industries: safeJSONParse(user.industries), min_salary: user.min_salary || 0, max_salary: user.max_salary || 0, preferred_locations: safeJSONParse(user.preferred_locations), work_type: user.work_type || 'any' } }];"
      },
      "id": "2971154f-e134-4301-9107-37111cda9e02",
      "name": "Prepare User Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-14000, 576]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT j.id, j.title, j.company_name, j.company_url, j.location, j.work_type, j.employment_type, j.salary_min, j.salary_max, j.description, j.requirements, j.source_url, j.posted_date FROM jobs j WHERE j.status = 'active' AND j.scraped_at >= NOW() - INTERVAL '24 hours' AND NOT EXISTS (SELECT 1 FROM job_matches jm WHERE jm.job_id = j.id AND jm.user_id = $1) AND NOT EXISTS (SELECT 1 FROM applications a WHERE a.job_id = j.id AND a.user_id = $1) ORDER BY j.scraped_at DESC LIMIT 10",
        "options": { "queryReplacement": "={{ [$json.user_id] }}" }
      },
      "id": "582e236d-a1c4-4aca-a064-77e014926002",
      "name": "Get New Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-13776, 576],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Prepare User Profile').first().json;\nconst jobs = $input.all().filter(j => j.json && j.json.id);\n\nif (jobs.length === 0) return [];\n\nreturn jobs.map(job => ({ json: {\n  user_id: user.user_id,\n  profile_id: user.profile_id,\n  email: user.email,\n  full_name: user.full_name,\n  userSkills: user.skills,\n  experienceYears: user.experience_years,\n  userJobTitles: user.job_titles,\n  userIndustries: user.industries,\n  minSalary: user.min_salary,\n  maxSalary: user.max_salary,\n  preferredLocations: user.preferred_locations,\n  preferredWorkType: user.work_type,\n  job_id: job.json.id,\n  jobTitle: job.json.title,\n  companyName: job.json.company_name,\n  jobLocation: job.json.location,\n  jobWorkType: job.json.work_type,\n  employmentType: job.json.employment_type,\n  description: (job.json.description || '').substring(0, 3000),\n  requirements: (job.json.requirements || '').substring(0, 1500),\n  salaryMin: job.json.salary_min,\n  salaryMax: job.json.salary_max,\n  sourceUrl: job.json.source_url\n} }));"
      },
      "id": "01662a5a-1080-444e-bcc3-42ec9fc4d645",
      "name": "Combine User + Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-13552, 576]
    },
    {
      "parameters": { "options": { "reset": false } },
      "id": "91dca249-24d5-484f-a23d-ad06adf5cb44",
      "name": "Loop Each Job",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-13328, 576]
    },
    {
      "parameters": { "unit": "seconds", "amount": 2 },
      "id": "ee008b01-3f11-4e7b-8e07-1bd07052e2d1",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-13104, 576],
      "webhookId": "rate-limit-delay-uuid"
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst userSkills = Array.isArray(job.userSkills) ? job.userSkills : [];\nconst userJobTitles = Array.isArray(job.userJobTitles) ? job.userJobTitles : [];\nconst userIndustries = Array.isArray(job.userIndustries) ? job.userIndustries : [];\nconst preferredLocations = Array.isArray(job.preferredLocations) ? job.preferredLocations : [];\n\nconst prompt = 'You are a career matching AI. Analyze this job against the user profile and return ONLY a valid JSON object with no additional text.\\n'\n  + '## User Profile:\\n'\n  + '- Skills: ' + (userSkills.join(', ') || 'Not specified') + '\\n'\n  + '- Experience: ' + (job.experienceYears || 0) + ' years\\n'\n  + '- Desired Job Titles: ' + (userJobTitles.join(', ') || 'Not specified') + '\\n'\n  + '- Preferred Industries: ' + (userIndustries.length ? userIndustries.join(', ') : 'Any') + '\\n'\n  + '- Minimum Salary: $' + (job.minSalary || 0) + '\\n'\n  + '- Preferred Locations: ' + (preferredLocations.join(', ') || 'Any') + '\\n'\n  + '- Work Type Preference: ' + (job.preferredWorkType || 'Any') + '\\n'\n  + '## Job Posting:\\n'\n  + '- Title: ' + (job.jobTitle || 'Unknown') + '\\n'\n  + '- Company: ' + (job.companyName || 'Unknown') + '\\n'\n  + '- Location: ' + (job.jobLocation || 'Not specified') + '\\n'\n  + '- Work Type: ' + (job.jobWorkType || 'Not specified') + '\\n'\n  + '- Employment Type: ' + (job.employmentType || 'Not specified') + '\\n'\n  + '- Salary Range: $' + (job.salaryMin || 'N/A') + ' - $' + (job.salaryMax || 'N/A') + '\\n'\n  + '## Job Description:\\n' + (job.description || '').substring(0, 2000) + '\\n'\n  + '## Requirements:\\n' + (job.requirements || '').substring(0, 1000) + '\\n'\n  + '---\\nReturn ONLY this JSON (no markdown, no backticks):\\n'\n  + '{\"matchScore\":<0-100>,\"reasoning\":\"<2-3 sentences>\",\"skillsMatched\":[\"skill\"],\"skillsMissing\":[\"skill\"],\"salaryMatch\":<bool>,\"locationMatch\":<bool>,\"recommendation\":\"<apply|consider|skip>\"}';\n\nreturn [{ json: { ...job, requestBody: { model: 'llama-3.1-8b-instant', messages: [{ role: 'user', content: prompt }], temperature: 0.3, max_tokens: 500 } } }];"
      },
      "id": "build-groq-prompt-node",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-12880, 576]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": { "timeout": 30000 }
      },
      "id": "groq-ai-score-node",
      "name": "Groq AI Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-12656, 576],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "credentials": { "httpHeaderAuth": { "id": "GROQ_CREDENTIAL_ID", "name": "Groq" } }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst jobData = $('Loop Each Job').first().json;\ntry {\n  const responseText = input?.choices?.[0]?.message?.content || '';\n  const clean = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (!m) throw new Error('No JSON in response');\n  const p = JSON.parse(m[0]);\n  return [{ json: { user_id: jobData.user_id, job_id: jobData.job_id, email: jobData.email, full_name: jobData.full_name, jobTitle: jobData.jobTitle, companyName: jobData.companyName, sourceUrl: jobData.sourceUrl, matchScore: Math.min(100, Math.max(0, Number(p.matchScore) || 0)), reasoning: p.reasoning || '', skillsMatched: Array.isArray(p.skillsMatched) ? p.skillsMatched : [], skillsMissing: Array.isArray(p.skillsMissing) ? p.skillsMissing : [], salaryMatch: Boolean(p.salaryMatch), locationMatch: Boolean(p.locationMatch), recommendation: p.recommendation || 'skip' } }];\n} catch (e) {\n  return [{ json: { user_id: jobData.user_id, job_id: jobData.job_id, email: jobData.email, full_name: jobData.full_name, jobTitle: jobData.jobTitle, companyName: jobData.companyName, sourceUrl: jobData.sourceUrl, matchScore: 0, reasoning: 'AI scoring failed: ' + e.message, skillsMatched: [], skillsMissing: [], salaryMatch: false, locationMatch: false, recommendation: 'skip' } }];\n}"
      },
      "id": "81fe556d-4637-48e7-956f-43f97f5cff22",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-12432, 576],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "score-above-70", "leftValue": "={{ $json.matchScore }}", "rightValue": 70, "operator": { "type": "number", "operation": "gte" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d6baa8b-8fbe-47f5-a03e-a67356d76b49",
      "name": "Match Score > 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-12208, 576]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { u: String(d.user_id), j: Number(d.job_id), s: Number(d.matchScore), r: String(d.reasoning || ''), sm: d.skillsMatched || [], si: d.skillsMissing || [] } }];"
      },
      "id": "flatten-high-match",
      "name": "Flatten High Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-11984, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'pending', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, skills_matched = EXCLUDED.skills_matched, skills_missing = EXCLUDED.skills_missing, updated_at = NOW() RETURNING id;",
        "options": { "queryReplacement": "={{ [$json.u, $json.j, $json.s, $json.r, $json.sm, $json.si] }}" }
      },
      "id": "f50c4aae-320f-4d52-ae5f-19c1c1549834",
      "name": "Insert High Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-11760, 480],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { u: String(d.user_id), j: Number(d.job_id), s: Number(d.matchScore), r: String(d.reasoning || ''), sm: d.skillsMatched || [], si: d.skillsMissing || [] } }];"
      },
      "id": "flatten-low-match",
      "name": "Flatten Low Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-11984, 672]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_matches (user_id, job_id, match_score, ai_reasoning, skills_matched, skills_missing, status, created_at, updated_at) VALUES ($1, $2, $3, $4, $5::TEXT[], $6::TEXT[], 'rejected', NOW(), NOW()) ON CONFLICT (user_id, job_id) DO UPDATE SET match_score = EXCLUDED.match_score, ai_reasoning = EXCLUDED.ai_reasoning, updated_at = NOW() RETURNING id;",
        "options": { "queryReplacement": "={{ [$json.u, $json.j, $json.s, $json.r, $json.sm, $json.si] }}" }
      },
      "id": "bc6f365f-48b7-4910-9cc6-e586b100a2d3",
      "name": "Insert Low Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-11760, 672],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Prepare User Profile').first().json;\nreturn [{ json: { user_id: user.user_id } }];"
      },
      "id": "summarize-node",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-11536, 576]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_matches, COUNT(CASE WHEN status = 'pending' AND match_score >= 70 THEN 1 END) AS high_matches, ROUND(AVG(match_score), 2) AS avg_score FROM job_matches WHERE user_id = $1 AND created_at > NOW() - INTERVAL '1 hour';",
        "options": { "queryReplacement": "={{ [$json.user_id] }}" }
      },
      "id": "92e2c912-e798-486b-aa12-1653deee7dd2",
      "name": "Get Match Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-11312, 576],
      "credentials": { "postgres": { "id": "Ge4tpOBRkjBQJS38", "name": "match" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare User Profile').first().json.email }}",
        "subject": "=🎯 Match: {{ $json.high_matches }} new job matches found",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#2563eb\">🎯 Job Matching Complete!</h2>\n  <p>Hi {{ $('Prepare User Profile').first().json.full_name }},</p>\n  <div style=\"background:#f8fafc;border-left:4px solid #2563eb;padding:16px;margin:20px 0\">\n    <table style=\"width:100%;font-size:14px\">\n      <tr><td style=\"color:#64748b;padding:4px 0\">High Matches (≥70%)</td><td style=\"font-weight:700;color:#059669\">{{ $json.high_matches }}</td></tr>\n      <tr><td style=\"color:#64748b;padding:4px 0\">Total Matches</td><td style=\"font-weight:700\">{{ $json.total_matches }}</td></tr>\n      <tr><td style=\"color:#64748b;padding:4px 0\">Average Score</td><td style=\"font-weight:700\">{{ $json.avg_score }}%</td></tr>\n    </table>\n  </div>\n  <p>Log in to view your matches and tailor your resume.</p>\n</div>",
        "options": {}
      },
      "id": "send-match-summary-email",
      "name": "Send Match Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-11088, 576],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "0oJaMkFU0pERnlCH", "name": "match" } }
    }
  ],
  "connections": {
    "Schedule Trigger1": { "main": [[{ "node": "Get Active User Profiles1", "type": "main", "index": 0 }]] },
    "Get Active User Profiles1": { "main": [[{ "node": "Create API URLs", "type": "main", "index": 0 }]] },
    "Create API URLs": { "main": [[{ "node": "Loop Through APIs", "type": "main", "index": 0 }]] },
    "Loop Through APIs": {
      "main": [
        [{ "node": "Count Jobs Stats", "type": "main", "index": 0 }],
        [{ "node": "Wait 3 Seconds", "type": "main", "index": 0 }]
      ]
    },
    "Wait 3 Seconds": { "main": [[{ "node": "Route by API Type", "type": "main", "index": 0 }]] },
    "Route by API Type": {
      "main": [
        [{ "node": "HTTP Request - JSearch", "type": "main", "index": 0 }],
        [{ "node": "HTTP Request - Free API", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request - JSearch": { "main": [[{ "node": "Parse Jobs", "type": "main", "index": 0 }]] },
    "HTTP Request - Free API": { "main": [[{ "node": "Parse Jobs", "type": "main", "index": 0 }]] },
    "Parse Jobs": { "main": [[{ "node": "Insert Job in DB1", "type": "main", "index": 0 }]] },
    "Insert Job in DB1": { "main": [[{ "node": "Loop Through APIs", "type": "main", "index": 0 }]] },
    "Count Jobs Stats": { "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]] },
    "Webhook Trigger": { "main": [[{ "node": "Get User Profile", "type": "main", "index": 0 }]] },
    "Get User Profile": { "main": [[{ "node": "Prepare User Profile", "type": "main", "index": 0 }]] },
    "Prepare User Profile": { "main": [[{ "node": "Get New Jobs", "type": "main", "index": 0 }]] },
    "Get New Jobs": { "main": [[{ "node": "Combine User + Jobs", "type": "main", "index": 0 }]] },
    "Combine User + Jobs": { "main": [[{ "node": "Loop Each Job", "type": "main", "index": 0 }]] },
    "Loop Each Job": {
      "main": [
        [{ "node": "Summarize", "type": "main", "index": 0 }],
        [{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]
      ]
    },
    "Rate Limit Delay": { "main": [[{ "node": "Build Groq Prompt", "type": "main", "index": 0 }]] },
    "Build Groq Prompt": { "main": [[{ "node": "Groq AI Score", "type": "main", "index": 0 }]] },
    "Groq AI Score": { "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]] },
    "Parse AI Response": { "main": [[{ "node": "Match Score > 70?", "type": "main", "index": 0 }]] },
    "Match Score > 70?": {
      "main": [
        [{ "node": "Flatten High Match", "type": "main", "index": 0 }],
        [{ "node": "Flatten Low Match", "type": "main", "index": 0 }]
      ]
    },
    "Flatten High Match": { "main": [[{ "node": "Insert High Match", "type": "main", "index": 0 }]] },
    "Insert High Match": { "main": [[{ "node": "Loop Each Job", "type": "main", "index": 0 }]] },
    "Flatten Low Match": { "main": [[{ "node": "Insert Low Match", "type": "main", "index": 0 }]] },
    "Insert Low Match": { "main": [[{ "node": "Loop Each Job", "type": "main", "index": 0 }]] },
    "Summarize": { "main": [[{ "node": "Get Match Stats", "type": "main", "index": 0 }]] },
    "Get Match Stats": { "main": [[{ "node": "Send Match Summary Email", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
